<nav class="bottom-nav">
    <ul>
        <li>
            <!-- <a href="/" class="bottom-nav__link bottom-nav__link--highlighted @@if (pageName == 'index') {active}"> -->
            <a href="/" class="bottom-nav__link bottom-nav__link--highlighted">
                <img src="assets/image/bottom-nav/home.svg" alt="page-icon" class="bottom-nav__page-icon">
                <p class="bottom-nav__page-title fw-800 fs-xss">Главная</p>
            </a>
        </li>
        <li>
            <a href="/catalog.html" class="bottom-nav__link @@if (pageName == 'catalog') {active}">
                <img src="assets/image/bottom-nav/catalog.svg" alt="page-icon" class="bottom-nav__page-icon">
                <p class="bottom-nav__page-title fs-xss">Каталог</p>
            </a>
        </li>
        <li>
            <a href="/basket.html" class="bottom-nav__link @@if (pageName == 'basket') {active}">
                <img src="assets/image/bottom-nav/basket.svg" alt="page-icon" class="bottom-nav__page-icon">
                <p class="bottom-nav__page-title fs-xss">Корзина</p>
            </a>
        </li>
        <li>
            <a href="/" class="bottom-nav__link @@if (pageName == 'images') {active}">
                <img src="assets/image/bottom-nav/images.svg" alt="page-icon" class="bottom-nav__page-icon">
                <p class="bottom-nav__page-title fs-xss">Образы</p>
            </a>
        </li>
        <li>
            <a href="/cabinet.html" class="bottom-nav__link @@if (pageName == 'cabinet') {active}">
                <img src="assets/image/bottom-nav/profile.svg" alt="page-icon" class="bottom-nav__page-icon">
                <p class="bottom-nav__page-title fs-xss">Профиль</p>
            </a>
        </li>
        <li>
            <a href="/" class="bottom-nav__link @@if (pageName == 'chat') {active}">
                <img src="assets/image/bottom-nav/chat.svg" alt="page-icon" class="bottom-nav__page-icon">
                <p class="bottom-nav__page-title fs-xss">Чат</p>
            </a>
        </li>
    </ul>
</nav>