<div class="main__feedback-sections">
    @@if (includeFaq) {
    <section class="main__faq-wrapper faq-wrapper">
        <div>
            <h1 class="faq-wrapper__title fs-s fw-800">Вопросы и ответы</h1>

            <div class="faq-wrapper__accordion faq-wrapper__accordion--open">
                <button class="faq-wrapper__accordion-summary-btn bg-white fw-500">
                    <h4>
                        Как оформить заказ?
                    </h4>
                    <div class="faq-wrapper__accordion-condition"></div>
                </button>
                <div class="faq-wrapper__accordion-content fw-300">
                    <p>
                        Выберите категорию или бренд в меню навигации или введите в поиске название интересующей
                        вещи или тренда.
                    </p>
                </div>
            </div>

            <div class="faq-wrapper__accordion">
                <button class="faq-wrapper__accordion-summary-btn bg-white fw-500">
                    <h4>
                        Могу ли я оформить заказ через менеджеров?
                    </h4>
                    <div class="faq-wrapper__accordion-condition"></div>
                </button>
                <div class="faq-wrapper__accordion-content fw-300">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Atque eius eos iure commodi consequatur
                        sapiente inventore, facere itaque. Quod a perspiciatis in, animi corrupti necessitatibus
                        pariatur nesciunt vel vero at.
                    </p>
                </div>
            </div>

            <div class="faq-wrapper__accordion">
                <button class="faq-wrapper__accordion-summary-btn bg-white fw-500">
                    <h4>
                        Нужно ли регистрироваться на сайте чтобы сделать заказ?
                    </h4>
                    <div class="faq-wrapper__accordion-condition"></div>
                </button>
                <div class="faq-wrapper__accordion-content fw-300">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Possimus officia facere, sint tempora
                        mollitia cum necessitatibus, pariatur molestiae quibusdam commodi et explicabo ratione
                        doloremque quaerat aliquid! Sequi perferendis inventore cum!
                    </p>
                </div>
            </div>

            <div class="faq-wrapper__accordion">
                <button class="faq-wrapper__accordion-summary-btn bg-white fw-500">
                    <h4>Как найти товары?</h4>
                    <div class="faq-wrapper__accordion-condition"></div>
                </button>
                <div class="faq-wrapper__accordion-content fw-300">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Rerum molestiae itaque earum alias et.
                        Earum sint a exercitationem quaerat inventore impedit, placeat facilis ipsa provident
                        consequatur, omnis rerum officia fugit.
                    </p>
                </div>
            </div>
        </div>

        <div class="faq-wrapper__megaphone"></div>
    </section>
    }

    @@if (infoText) {
    <div class="main__communication-blocks-wrapper">
        <div class="main__communication-block-and-interview-card-wrapper">
            <div class="main__info-text info-text">
                <div class="info-text__header">
                    <p class="info-text__title">Lorem ipsum dolor sit amet consectetur.</p>
                    <img class="info-text__img" src="assets/image/hanger.png" alt="img">
                </div>

                <p>
                    Nunc erat gravida cursus diam accumsan vitae ultrices magna sed. Nisi donec feugiat metus nunc
                    pellentesque risus. Dignissim faucibus ut proin fermentum adipiscing dui augue. Viverra condimentum
                    quam
                    sed vel et ornare posuere lectus risus. Elit laoreet urna sem odio nulla. Nisl mauris ac facilisi
                    dolor
                    id rhoncus tellus morbi. Duis vivamus amet eget pellentesque facilisi in. Pellentesque amet diam sem
                    turpis aenean vitae sit.
                </p>
            </div>

            <a href="../questionnaire.html" class="interview-card bg-green-gradient-g color-white">
                <h3 class="interview-card__title">Опрос</h3>
                <p>Сделаем сайт лучше</p>
            </a>
        </div>

        <div class="main__communication-block-and-interview-card-wrapper">
            <section class="communication-block communication-block--with-img color-white">
                <div class="communication-block__content-wrapper">
                    <h3 class="communication-block__title">Нужна помощь?</h3>
                    <p class="communication-block__sub-title">
                        Наши консультанты будут рады ответить на Ваши вопросы.
                    </p>
                </div>

                <div class="communication-block__btns-wrapper">
                    <button class="communication-block__btn p-s">написать</button>
                    <a href="tel:12323" class="communication-block__btn p-s">позвонить</a>
                </div>
            </section>

            <section class="communication-block bg-off-white color-second-black">
                <div class="communication-block__content-wrapper">
                    <h3 class="communication-block__title">подпишитесь</h3>
                    <p class="communication-block__text">
                        Оставьте свой e-mail, чтобы первыми узнать о старте
                        SALE и новых поступлениях
                    </p>

                    <input class="communication-block__mail-input bg-white fs-xs fw-400" placeholder="Почта" name="mail">

                    <p class="communication-block__sub-text fs-xss">
                        Подписываясь на рассылку, вы подтверждаете свое согласие с
                        <a class="color-second-black" href="#">политикой конфиденциальности.</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
    }

    @@if (!infoText) {
    <div class="main__communication-blocks-wrapper">
        @@if (helpBlockVariant == "second") {
        <section class="communication-block communication-block--with-img color-white">
            <div class="communication-block__content-wrapper">
                <h3 class="communication-block__title">Нужна помощь?</h3>
            </div>

            <ul class="communication-block__links-list fs-xxs">
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Примерка</a></li>
                <li><a href="#">Поддержка</a></li>
                <li><a href="#">Вопрос</a></li>
                <li><a href="#">Возврат товара</a></li>
            </ul>
        </section>
        }
        
        @@ if helpBlockVariant == "first" {
        <section class="communication-block communication-block--with-img color-white">
            <div class="communication-block__content-wrapper">
                <h3 class="communication-block__title">Нужна помощь?</h3>
                <p class="communication-block__sub-title">
                    Наши консультанты будут рады ответить на Ваши вопросы.
                </p>
            </div>

            <div class="communication-block__btns-wrapper">
                <button class="communication-block__btn p-s">написать</button>
                <a href="tel:12323" class="communication-block__btn p-s">позвонить</a>
            </div>
        </section>
        }

        <div class="main__communication-block-and-interview-card-wrapper">
            <section class="communication-block bg-off-white color-second-black">
                <div class="communication-block__content-wrapper">
                    <h3 class="communication-block__title">подпишитесь</h3>
                    <p class="communication-block__text">
                        Оставьте свой e-mail, чтобы первыми узнать о старте
                        SALE и новых поступлениях
                    </p>

                    <input class="communication-block__mail-input bg-white fs-xs fw-400" placeholder="Почта" name="mail">

                    <p class="communication-block__sub-text fs-xss">
                        Подписываясь на рассылку, вы подтверждаете свое согласие с
                        <a class="color-second-black" href="#">политикой конфиденциальности.</a>
                    </p>
                </div>
            </section>

            <a href="../questionnaire.html" class="interview-card bg-green-gradient-g color-white">
                <h3 class="interview-card__title">Опрос</h3>
                <p>Сделаем сайт лучше</p>
            </a>
        </div>
    </div>
    }

    <div class="main__chat-wrapper">
        <button class="chat fw-700 color-white bg-black">
            <div class="chat__points">
                <span class="chat__point bg-white"></span>
                <span class="chat__point bg-white"></span>
                <span class="chat__point bg-white"></span>
            </div>
            <p>чат</p>
        </button>
    </div>
</div>