<footer class="footer bg-black">
    <h1 class="footer__logo logo color-white">myreact</h1>

    <div class="footer__info-blocks-wrapper">
        <section class="info-block">
            <h3 class="info-block__title">помощь</h3>

            <ul class="info-block__list">
                <li><a class="color-white" href="#">Помощь и контакты</a></li>
                <li><a class="color-white" href="#">Вопросы и ответы</a></li>
                <li><a class="color-white" href="#">Оплата и доставка</a></li>
                <li><a class="color-white" href="#">Обмен и возврат</a></li>
                <li><a class="color-white" href="#">Таблица размеров</a></li>
            </ul>
        </section>

        <section class="info-block">
            <h3 class="info-block__title">myreact</h3>

            <ul class="info-block__list">
                <li><a class="color-white" href="#">О нас</a></li>
                <li><a class="color-white" href="#">Отзывы</a></li>
                <li><a class="color-white" href="#">Новости</a></li>
                <li><a class="color-white" href="#">Статьи</a></li>
                <li><a class="color-white" href="#">Акции</a></li>
                <li><a class="color-white" href="#">Контакты</a></li>
            </ul>
        </section>

        <section class="info-block">
            <h3 class="info-block__title">контакты</h3>

            <ul class="info-block__list">
                <li class="info-block__decorated-link"><a class="color-white" href="#">8 800 511-53-72</a></li>
                <li class="info-block__decorated-link">
                    <a class="color-white" href="#">info&#64;myreact.ru</a>
                </li>

                <li><br></li>

                <ul>
                    <li><a class="color-white" href="#">пн-пт с 09:00 до 21:00</a></li>
                    <li><a class="color-white" href="#">сб-вс с 12:00 до 18:00</a></li>
                </ul>
            </ul>
        </section>

        <section class="info-block info-block--stretched">
            <h3 class="info-block__title">способы оплаты</h3>
            <div class="info-block__img"></div>
        </section>
    </div>

    <div class="footer__copyright-rights">
        <p>MYREACT.RU © 2018 – 2023</p>
    </div>
</footer>