<div class="header__logo-and-basket-wrapper my-m">
    <a href="/" class="logo">myreact</a>
    <button class="header__basket bg-second-gray"></button>
</div>

@@if (pageName == 'index') {
<nav class="nav mb-m">
    <form class="nav__search-wrapper bg-white pl-l">
        <label class="nav__search">
            <div class="nav__search-icon"></div>
            <input class="nav__search-input ml-l" type="search" placeholder="Поиск" name="search">
        </label>

        <div class="nav__btns-wrapper">
            <button class="nav__color-btn bg-second-gray" type="button" id="color-preview"></button>
            <div class="nav__search-counter-wrapper">
                <input class="nav__search-counter bg-second-gray" type="number" value="36" min="1" max="100" name="count" id="counter">
                <button class="nav__search-counter-btn" id="inc-count" type="button"></button>
                <button class="nav__search-counter-btn" id="dec-count" type="button"></button>
            </div>
        </div>

        <div class="nav__color-selector nav__color-selector--hidden" id="color-selector">
            <p>Выбрать цвет</p>

            <div class="nav__colors-btns-wrapper mt-xl">
                <button class="nav__color-btn bg-second-gray" type="button" data-color="FB6949"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="A230FC"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="219653"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="2F80ED"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="56CCF2"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="F2994A"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="BDBDBD"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="FFFFFF"></button>
                <button class="nav__color-btn bg-second-gray" type="button" data-color="000000"></button>
            </div>
        </div>
    </form>

    <div class="nav__links-wrapper mt-m fs-xss">
        <div class="nav__desk-links-wrapper">
            <a href="#"><span class="nav__desk-link nav__desk-link--selected px-xl py-s color-black">Женщинам</span></a>
            <a href="#"><span class="nav__desk-link px-xl py-s color-black">Мужчинам</span></a>
            <a href="#"><span class="nav__desk-link px-xl py-s color-black">Детям</span></a>
        </div>

        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Новинки</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Одежда</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Обувь</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Аксессуары</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Бренды</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Премиум</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Спорт</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Распродажа</span></a>
    </div>
</nav>
}

@@if (pageName == 'shop' || pageName == 'product' || pageName == 'brand' || pageName == 'catalog' || pageName == '') {
<nav class="nav mb-m">
    <div class="nav__search-with-filter">
        <form class="nav__search-wrapper bg-white pl-l">
            <label class="nav__search">
                <div class="nav__search-icon"></div>
                <input class="nav__search-input ml-l" type="search" placeholder="Поиск" name="search">
            </label>

            <div class="nav__btns-wrapper">
                <button class="nav__color-btn bg-second-gray" type="button" id="color-preview"></button>
                <div class="nav__search-counter-wrapper">
                    <input class="nav__search-counter bg-second-gray" type="number" value="36" min="1" max="100" name="count" id="counter">
                    <button class="nav__search-counter-btn" id="inc-count" type="button"></button>
                    <button class="nav__search-counter-btn" id="dec-count" type="button"></button>
                </div>
            </div>

            <div class="nav__color-selector nav__color-selector--hidden" id="color-selector">
                <p>Выбрать цвет</p>

                <div class="nav__colors-btns-wrapper mt-xl">
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="FB6949"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="A230FC"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="219653"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="2F80ED"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="56CCF2"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="F2994A"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="BDBDBD"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="FFFFFF"></button>
                    <button class="nav__color-btn bg-second-gray" type="button" data-color="000000"></button>
                </div>
            </div>

            <input hidden type="text" name="color" id="color" value="FB6949">
        </form>

        <button class="filter-btn" onclick="openPopup()"></button>
    </div>

    <div class="nav__links-wrapper mt-m fs-xss">
        <div class="nav__desk-links-wrapper">
            <a href="#"><span class="nav__desk-link nav__desk-link--selected px-xl py-s color-black">Женщинам</span></a>
            <a href="#"><span class="nav__desk-link px-xl py-s color-black">Мужчинам</span></a>
            <a href="#"><span class="nav__desk-link px-xl py-s color-black">Детям</span></a>
        </div>
        
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Новинки</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Одежда</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Обувь</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Аксессуары</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Бренды</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Премиум</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Спорт</span></a>
        <a href="#"><span class="nav__link bg-second-gray px-xl py-s color-black">Распродажа</span></a>
    </div>
</nav>
}

@@if (typeof breadcrumbs !== 'undefined') {
<div class="header__breadcrumbs">
    <div class="header__page-icon bg-second-gray"></div>
    <ul>
        @@for (var i = 0; i < breadcrumbs.length; i++) { <li><a href="#">`+breadcrumbs[i]+`</a></li> }
    </ul>
</div>
}

@@if (pageName == 'blog') {
<section class="header__page-title">
    <h2 class="fw-700 fs-l">Блог</h2>
    <p class="fw-300 fs-xxs mt-m">от myreact</p>
</section>
}