<div class="stylist-consultation">
    <div class="stylist-consultation__left-panel-wrapper">
        <div class="stylist-consultation__title-wrapper">
            <h1 class="stylist-consultation__title">Консультация стилиста</h1>
            <a href="#" class="stylist-consultation__info-btn"></a>
        </div>

        <p class="mt-m">Краткое описание услуги Lorem ipsum dolor sit amet consectetur.psum dolor sit amet
            consectetur.</p>

        <p class="stylist-consultation__price">8 000</p>
    </div>

    <div class="stylist-consultation__steps-wrapper">
        <div class="stylist-consultation__step">
            <div class="stylist-consultation__step-info">
                <span class="stylist-consultation__step-title"></span>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="stylist-consultation__step">
            <div class="stylist-consultation__step-info">
                <span class="stylist-consultation__step-title"></span>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="stylist-consultation__step">
            <div class="stylist-consultation__step-info">
                <span class="stylist-consultation__step-title"></span>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
    </div>

    <a href="#" class="stylist-consultation__btn">Получить консультацию</a>
</div>