* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;

    min-width: 320px;
    min-height: 100vh;

    color: $black;

    font-family: "Gilroy", Arial, "sans-serif";
    font-size: $xs-fs;
    font-weight: 400;
}

main {
    overflow: hidden;
}

footer {
    margin-top: auto;
}

a,
input,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: inherit;
    font-size: inherit;

    border: unset;
    outline: none;
    background-color: unset;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
}

.logo {
    font-size: 24px;
    font-weight: 300;

    letter-spacing: 5px;
    text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



@media (max-width: $tablet-breakpoint) {
    body {
        font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }
}