@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Heavy.eot") format("eot"),
        url("../fonts/Gilroy-Heavy.ttf") format("truetype"),
        url("../fonts/Gilroy-Heavy.woff") format("woff"),
        url("../fonts/Gilroy-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Extrabold.eot") format("eot"),
        url("../fonts/Gilroy-Extrabold.ttf") format("truetype"),
        url("../fonts/Gilroy-Extrabold.woff") format("woff"),
        url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.eot") format("eot"),
        url("../fonts/Gilroy-Bold.ttf") format("truetype"),
        url("../fonts/Gilroy-Bold.woff") format("woff"),
        url("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold.eot") format("eot"),
        url("../fonts/Gilroy-Semibold.ttf") format("truetype"),
        url("../fonts/Gilroy-Semibold.woff") format("woff"),
        url("../fonts/Gilroy-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.eot") format("eot"),
        url("../fonts/Gilroy-Medium.ttf") format("truetype"),
        url("../fonts/Gilroy-Medium.woff") format("woff"),
        url("../fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.eot") format("eot"),
        url("../fonts/Gilroy-Regular.ttf") format("truetype"),
        url("../fonts/Gilroy-Regular.woff") format("woff"),
        url("../fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Light.eot") format("eot"),
        url("../fonts/Gilroy-Light.ttf") format("truetype"),
        url("../fonts/Gilroy-Light.woff") format("woff"),
        url("../fonts/Gilroy-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}