// Цвета
$white: #FFFFFF;
$dark-white: #F8F8F8;
$black: #000000;
$second-black: #48455C;
$gray: #BFBFBF;
$red: #FB6949;
$second-gray: #F5F6F6;
$gradient: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);
$off-white: #F0F5FE;

$primary: #6297FF;
$secondary: #434242;
$error: #FF6464;
$success: #A6D283;
$disabled: #F2F2F2;
$text: #535353;
$display: #535353;
$sub-text: #D4D8D9;
$night: #5E5E5E;
// 


// Размер текста
$xxl-fs: 60px;
$l-fs: 24px;
$m-fs: 18px;
$s-fs: 16px;
$xs-fs: 14px;
$xxs-fs: 12px;
$xss-fs: 10px;
// 


// Отступы
$xs-spacer: 2px;
$s-spacer: 5px;
$m-spacer: 10px;
$l-spacer: 15px;
$xl-spacer: 20px;
$xxl-spacer: 36px;
$xxxl-spacer: 112px;
//


// Брейкпоинты
$hd-plus-breakpoint: 1920px;
$hd-breakpoint: 1440px;
$wide-breakpoint: 1200px;
$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 568px;
// 


// Размеры для адаптива
$desktop: 1440px;
$tablet: 768px;
// 