// Цвета
$white: #FFFFFF;
$dark-white: #F8F8F8;
$black: #000000;
$second-black: #48455C;
$gray: #BFBFBF;
$red: #FB6949;
$second-gray: #F5F6F6;
$gradient: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);
$off-white: #F0F5FE;

$primary: #6297FF;
$secondary: #434242;
$error: #FF6464;
$success: #A6D283;
$disabled: #F2F2F2;
$text: #535353;
$display: #535353;
$sub-text: #D4D8D9;
$night: #5E5E5E;
// 


// Брейкпоинты
$hd-plus-breakpoint: 1920px;
$hd-plus-width: 1920;
$hd-breakpoint: 1440px;
$wide-breakpoint: 1200px;
$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 568px;
//


// Размер текста
$xxl-fs: 60px;
$l-fs: calc(24px + 12 * (100vw / $hd-plus-width));
$m-fs: calc(18px + 18 * (100vw / $hd-plus-width));
$s-fs: calc(16px + 16 * (100vw / $hd-plus-width));
$xs-fs: calc(14px + 4 * (100vw / $hd-plus-width));
$xxs-fs: calc(12px + 6 * (100vw / $hd-plus-width));
$xss-fs: calc(10px + 8 * (100vw / $hd-plus-width));
// 


// Отступы
$xs-spacer: 2px;
$s-spacer: 5px;
$m-spacer: 10px;
$l-spacer: 15px;
$xl-spacer: 20px;
$xxl-spacer: 36px;
$xxxl-spacer: 112px;
//



@media (max-width: $tablet-breakpoint) {
    .fs-l {
        font-size: calc(24px + (12 + 12 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }

    .fs-m {
        font-size: calc(18px + (18 + 18 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }

    .fs-s {
        font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }

    .fs-xs {
        font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }

    .fs-xxs {
        font-size: calc(12px + (6 + 6 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }

    .fs-xss {
        font-size: calc(10px + (8 + 8 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }
}