<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Корзина</title>

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Подключение стилей слайдера -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/basket.min.css">
</head>

<body>
    <div class="top-block color-white bg-black">
        <a class="top-block__text mb-s fs-xss">
            Бери <span class="top-block__highlighted-text fw-900">500 рублей</span> в подарок прямо сейчас!
        </a>
    </div>

    <header class="header mx-m">
        @@include('./partials/header.html', {
        "pageName": "basket",
        "breadcrumbs": ["Мужское", "Обувь", "Корзина"]
        })
    </header>


    <main class="basket">
        <h1 class="visually-hidden">Корзина</h1>
        <div class="basket__stages basket__stages--second mx-m">
            <span class="basket__stage basket__stage--active">
                Корзина
            </span>
            <span class="basket__stage basket__stage--active">
                Доставка
            </span>
            <span class="basket__stage">
                Оплата
            </span>
            <span class="basket__stage">
                Оформить
            </span>
        </div>

        <div class="basket__sum mx-m">
            <span class="basket__sum-info">Сумма</span>
            <span class="basket__sum-price">48 060 ₽</span>
        </div>


        <form>

            <div class="basket__delivery mx-m">
                <h2 class="basket__delivery-title">Доставка</h2>
                <div class="basket__delivery-inputs">
                    <label class="basket__delivery-wrapper">
                        <input type="radio" class="radio-input" name="delivery" value="courier">
                        <span class="radio-mark radio-mark--white"></span>
                        ПВЗ
                    </label>
                    <label class="basket__delivery-wrapper">
                        <input type="radio" class="radio-input" name="delivery" value="courier" checked>
                        <span class="radio-mark radio-mark--white"></span>
                        Постамат
                    </label>
                    <label class="basket__delivery-wrapper">
                        <input type="radio" class="radio-input" name="delivery" value="courier">
                        <span class="radio-mark radio-mark--white"></span>
                        Курьер
                    </label>
                </div>
            </div>

            <div class="basket__own-info mx-m">
                <p class="basket__form-block">
                    <label for="fullName" class="basket__form-label">ФИО</label>
                    <input type="text" id="fullName" name="fullName" class="basket__form-input">
                </p>
                <p class="basket__form-block">
                    <label for="userEmail" class="basket__form-label">Почта</label>
                    <input type="text" id="userEmail" name="userEmail" class="basket__form-input">
                </p>
                <p class="basket__form-block">
                    <label for="userPhone" class="basket__form-label">Телефон</label>
                    <input type="text" id="userPhone" name="userPhone" class="basket__form-input">
                </p>
            </div>

            <div class="basket__own-info mx-m">
                <p class="basket__form-block">
                    <label for="city" class="basket__form-label">Город</label>
                    <input type="text" id="city" name="city" class="basket__form-input">
                </p>
                <p class="basket__form-block">
                    <label for="adress" class="basket__form-label">Адрес</label>
                    <input type="text" id="adress" name="adress" class="basket__form-input">
                </p>
                <p class="basket__form-block">
                    <label for="details" class="basket__form-label">Детали</label>
                    <input type="text" id="details" name="details" class="basket__form-input basket__form-input--more">
                </p>
            </div>


            <div class="basket__transports mx-m">
                <h3 class="basket__transports-title">Выбор транспортных компаний</h3>
                <div class="basket__transports-inputs">
                    <label class="basket__transports-wrapper">
                        <input type="radio" class="radio-input" name="transports" value="postOffice">
                        <span class="radio-mark radio-mark"></span>

                        <div>
                            <img src="assets/image/pochtaLogo.svg" alt="Почта России" width="42" height="23">
                            <p class="fs-xxs fw-500 mt-s">599 руб</p>
                        </div>
                    </label>
                    <label class="basket__transports-wrapper">
                        <input type="radio" class="radio-input" name="transports" value="cdek" checked>
                        <span class="radio-mark radio-mark"></span>

                        <div>
                            <img src="assets/image/cdek.svg" alt="CDEK" width="69" height="14">
                            <p class="fs-xxs fw-500 mt-s">100 руб</p>
                        </div>
                    </label>
                    <label class="basket__transports-wrapper">
                        <input type="radio" class="radio-input" name="transports" value="boxberry">
                        <span class="radio-mark radio-mark"></span>

                        <div>
                            <img src="assets/image/boxberry.svg" alt="boxberry" width="79" height="17">
                            <p class="fs-xxs fw-500 mt-s">1 000 руб</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="basket__conditions mx-m">
                <h3 class="basket__conditions-title">Условия доставки</h3>
                <div class="basket__conditions-inputs">
                    <label class="basket__conditions-wrapper">
                        <input type="radio" class="radio-input" name="conditions" value="today" checked>
                        <span class="radio-mark radio-mark"></span>

                        <div class="basket__conditions-label">
                            <span class="basket__conditions-main-label">Сегодня</span>
                            <span class="basket__conditions-other-label">
                                Стоимость доставки - 599 руб., вне зависимости от суммы покупки.
                                <span class="basket__conditions-time">Ближайшая дата доставки: 8 августа</span>
                            </span>
                        </div>
                    </label>
                    <label class="basket__conditions-wrapper">
                        <input type="radio" class="radio-input" name="conditions" value="2h">
                        <span class="radio-mark radio-mark"></span>

                        <div class="basket__conditions-label">
                            <span class="basket__conditions-main-label">В течение 2 часов</span>
                            <span class="basket__conditions-other-label">
                                Стоимость доставки - 800 руб., вне зависимости от суммы покупки.
                                <span class="basket__conditions-time">Ближайшая дата доставки: 8 августа</span>
                            </span>
                        </div>
                    </label>
                    <label class="basket__conditions-wrapper">
                        <input type="radio" class="radio-input" name="conditions" value="free">
                        <span class="radio-mark radio-mark"></span>

                        <div class="basket__conditions-label">
                            <span class="basket__conditions-main-label">Бесплатно</span>
                            <span class="basket__conditions-other-label">
                                При сумме выкупа от 4500 руб.
                                <span class="basket__conditions-time">Ближайшая дата доставки: 8 августа</span>
                            </span>
                        </div>
                    </label>
                </div>
            </div>

            <button type="submit" class="basket__btnSubmit mx-m">
                Оформить
                <span>
                    48 000 ₽
                </span>
            </button>
        </form>

    </main>

    @@include('./partials/footer.html')

    @@include('./partials/bottomNav.html', {
    "pageName": "basket"
    })

    <!-- Подключение кода слайдера -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <!-- ### -->
</body>

</html>