<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Корзина</title>

    <!-- Подключение слайдера -->
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script defer src="assets/js/swiper.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!--  -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/basket.min.css">
</head>

<body>
    <div class="top-block color-white bg-black">
        <a class="top-block__text mb-s fs-xss">
            Бери <span class="top-block__highlighted-text fw-900">500 рублей</span> в подарок прямо сейчас!
        </a>
    </div>

    @@include('./partials/header.html', {
        "pageName": "basket",
        "breadcrumbs": ["Мужское", "Обувь", "Корзина"]
    })


    <main class="basket">
        <h1 class="visually-hidden">Корзина</h1>
        <div class="basket__stages basket__stages--third mx-m">
            <span class="basket__stage basket__stage--active">
                Корзина
            </span>
            <span class="basket__stage basket__stage--active">
                Доставка
            </span>
            <span class="basket__stage basket__stage--active">
                Оплата
            </span>
            <span class="basket__stage">
                Оформить
            </span>
        </div>

        <div class="basket__sum basket__sum--third mx-m">
            <span class="basket__sum-info">Сумма</span>
            <span class="basket__sum-price">48 060 ₽</span>
        </div>


        <form>
            <section class="about-payment about-payment--basket">
                <div class="about-payment__title-wrapper mx-m">
                    <input id="aboutPayment" type="radio" class="about-payment__radio">
                    <label for="aboutPayment" class="about-payment__label">Oплата долями</label>
                    <span class="about-payment__price">5 200 ₽</span>
                </div>

                <p class="about-payment__text fs-xxs fw-600 mx-m">Оплачивайте 25% покупки сразу, остальное частями — в
                    течение 8
                    недель. Без комиссий и переплат.</p>

                <div class="about-payment__cards-wrapper mx-m">
                    <div class="about-payment__card about-payment__card--selected">
                        <h4 class="fs-xxs fw-900">Сегодня</h4>
                        <p class="fs-s mt-s">5 200 ₽</p>

                    </div>

                    <div class="about-payment__card">
                        <h4 class="fs-xxs fw-900">
                            <script type="text/javascript">
                                document.write(getDayAndMonthName({
                                    numWeeks: 2
                                }));
                            </script>
                        </h4>
                        <p class="fs-s mt-s">5 200 ₽</p>
                    </div>

                    <div class="about-payment__card">
                        <h4 class="fs-xxs fw-900">
                            <script type="text/javascript">
                                document.write(getDayAndMonthName({
                                    numWeeks: 4
                                }));
                            </script>
                        </h4>
                        <p class="fs-s mt-s">5 200 ₽</p>
                    </div>

                    <div class="about-payment__card">
                        <h4 class="fs-xxs fw-900">
                            <script type="text/javascript">
                                document.write(getDayAndMonthName({
                                    numWeeks: 6
                                }));
                            </script>
                        </h4>
                        <p class="fs-s mt-s">5 200 ₽</p>
                    </div>
                </div>
            </section>


            <div class="basket__pay mx-m">
                <div class="basket__pay-block">
                    <input type="radio" id="payMethod1" name="pay" value="cash" class="basket__pay-input">
                    <label for="payMethod1" class="basket__pay-label">Оплата при получении</label>
                </div>
                <div class="basket__pay-block basket__pay-block--active">
                    <input type="radio" id="payMethod2" name="pay" value="card" class="basket__pay-input" checked>
                    <label for="payMethod2" class="basket__pay-label">Онлайн оплата картой</label>

                    <div class="basket__pay-info">
                        <label for="number" class="basket__pay-info-label">Номер карты</label>
                        <input type="number" id="number" class="basket__pay-info-input">

                        <div class="basket__pay-info-block">
                            <p>
                                <label for="date" class="basket__pay-info-label">Дата</label>
                                <input type="number" id="date" class="basket__pay-info-input">
                            </p>
                            <p>
                                <label for="cvv" class="basket__pay-info-label">CVV</label>
                                <input type="number" id="cvv" class="basket__pay-info-input">
                            </p>
                        </div>

                        <button type="submit" class="basket__btnSubmit basket__btnSubmit--pay">
                            Оплатить
                            <span>
                                48 000 ₽
                            </span>
                        </button>
                    </div>
                </div>
                <div class="basket__pay-block">
                    <input type="radio" id="payMethod3" name="pay" value="apple" class="basket__pay-input">
                    <label for="payMethod3" class="basket__pay-label">Apple pay</label>
                </div>
                <div class="basket__pay-block">
                    <input type="radio" id="payMethod4" name="pay" value="gpay" class="basket__pay-input">
                    <label for="payMethod4" class="basket__pay-label">Gpay</label>
                </div>
                <div class="basket__pay-block">
                    <input type="radio" id="payMethod5" name="pay" value="yoo" class="basket__pay-input">
                    <label for="payMethod5" class="basket__pay-label">Yoo Money</label>
                </div>
                <div class="basket__pay-block">
                    <input type="radio" id="payMethod6" name="pay" value="sber" class="basket__pay-input">
                    <label for="payMethod6" class="basket__pay-label">Sber Pay</label>
                </div>
            </div>
        </form>

    </main>

    @@include('./partials/footer.html')
</body>

</html>