<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Кабинет</title>

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Подключение стилей слайдера -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/cabinet.min.css">
</head>

<body>
    @@include('./partials/topBlock.html')

    <header class="header mx-m">
        @@include('./partials/header.html', {
        "pageName": "cabinet",
        "breadcrumbs": ["Личный кабинет"]
        })
    </header>

    <main class="main">
        <section class="cabinet mx-m">
            <h1 class="visually-hidden">Личный кабинет</h1>

            <div class="cabinet__profile">

                <div class="cabinet__wrapper">
                    <img class="cabinet__image" src="assets/image/avatar.jpg" alt="Аватар пользователя">
                    <div class="cabinet__profile-name">
                        <span class="cabinet__name">Иван Иванов</span>
                        <span class="cabinet__phone">78888888888</span>
                    </div>
                </div>

                <h2 class="cabinet__title">Оплата</h2>

                <div class="cabinet__paymethod">
                    <div class="cabinet__paymethod-block">
                        <span class="cabinet__pay-title">Основная карта</span>
                        <span class="cabinet__pay-number">**** 1234</span>
                    </div>
                    <span class="cabinet__pay-date">03/25</span>
                </div>

                <button type="button" class="cabinet__addBtn">
                    Добавить карту
                </button>


                <ul class="cabinet__list">
                    <li class="cabinet__item">
                        <a class="cabinet__link" href="#">Управление подписками</a>
                    </li>
                    <li class="cabinet__item">
                        <a class="cabinet__link" href="#">Промокоды</a>
                    </li>
                    <li class="cabinet__item">
                        <a class="cabinet__link" href="#">Настройки</a>
                    </li>
                    <li class="cabinet__item">
                        <a class="cabinet__link" href="#">Заказы</a>
                    </li>
                    <li class="cabinet__item">
                        <a class="cabinet__link" href="#">Избранное</a>
                    </li>
                </ul>
            </div>
        </section>

        <div class="main__block-title-with-filter-buttons">
            <div class="main__filter-buttons filter-buttons bg-dark-white">
                <button class="filter-buttons__btn filter-buttons__btn--active">Вам может понравиться</button>
                <button class="filter-buttons__btn">Вы смотрели</button>
            </div>
        </div>

        <div class="main__slider swiper slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product1.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product2.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">
                                <span class="card__price product-card__price-old">57 060</span>
                                48 060
                            </p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>

                        <div class="badge badge--mob-discount">
                            <span class="badge-icon"></span>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product1.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product2.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product1.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product2.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product1.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide slider__slide">
                    <a href="#" class="card">
                        <div class="card__img-wrapper">
                            <img src="assets/image/slider-img/product2.png" alt="product img">
                            <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                        </div>

                        <div class="card__description-wrapper">
                            <div>
                                <h3 class="fw-800">Nike</h3>
                                <p>Air Max SC</p>
                            </div>

                            <p class="card__score">4.6</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @@include('./partials/feedbackSections.html', {
        "includeFaq": false,
        "infoText": false,
        })
    </main>

    @@include('./partials/footer.html')

    @@include('./partials/bottomNav.html', {
    "pageName": "cabinet"
    })

    <!-- Подключение кода слайдера -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <!-- ### -->

    <!-- Подключение функционала фильтрующих кнопок -->
    <script src="assets/js/filter-buttons.js"></script>
    <!-- ### -->

    <script>
        const phoneDiv = document.querySelector(".cabinet__phone");
        console.log(phoneDiv.innerText);
        phoneDiv.innerText = validPhone(phoneDiv.innerText);
    </script>
</body>

</html>