<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Оформить</title>

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Подключение стилей слайдера -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/checkout.min.css">
</head>

<body>
    @@include('./partials/topBlock.html')

    <header class="header mx-m">
        @@include('./partials/header.html', {
        "pageName": "basket",
        "breadcrumbs": ["Мужское", "Обувь", "Корзина"]
        })
    </header>

    <main class="checkout pb-l">
        <h1 class="checkout__title mx-m">Спасибо <span>за покупку</span></h1>

        <p class="checkout__info mx-m">
            <span class="checkout__infokey">Номер заказа</span>
            <span class="checkout__infovalue"># 29220202002</span>
        </p>

        <form action="#" method="post" class="checkout__question-cards question-cards mx-m">
            <div class="question-cards__card">
                <div>
                    <p class="fs-xs fw-700">
                        Оцените полноты, качество и доступность для понимания информации, указанной в описании и
                        характеристиках товара
                    </p>

                    <ul>
                        <li><input type="radio" hidden required name="question4" id="q4i1"><span><label for="q4i1"></label></span>
                        </li>
                        <li><input type="radio" hidden required name="question4" id="q4i2"><span><label for="q4i2"></label></span>
                        </li>
                        <li><input type="radio" hidden required name="question4" id="q4i3"><span><label for="q4i3"></label></span>
                        </li>
                        <li><input type="radio" hidden required name="question4" id="q4i4"><span><label for="q4i4"></label></span>
                        </li>
                        <li><input type="radio" hidden required name="question4" id="q4i5"><span><label for="q4i5"></label></span>
                        </li>
                    </ul>
                </div>

                <div>
                    <p class="mt-xl fs-xs fw-700">
                        Легко ли было найти характеристики, отзывы, комментарии? Что бы вы хотели изменить?
                    </p>

                    <textarea name="question5" class="question-cards__card-textarea fs-xs"></textarea>
                </div>

                <div class="question-cards__submit-btn-wrapper">
                    <button type="submit" class="question-cards__submit-btn fs-xs fw-600">Оценить</button>
                </div>
            </div>
        </form>

        <span class="checkout__rect"></span>

        @@include('./partials/feedbackSections.html', {
        "includeFaq": false,
        "infoText": false,
        })
    </main>

    @@include('./partials/footer.html')

    @@include('./partials/bottomNav.html', {
    "pageName": "basket"
    })

    <!-- Подключение кода слайдера -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <!-- ### -->

    <!-- Функционал input-ов -->
    <script src="assets/js/question.js"></script>
    <!-- ### -->
</body>

</html>