<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Оформить</title>

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Подключение стилей слайдера -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/checkout.min.css">
</head>

<body>
    @@include('./partials/topBlock.html')

    <header class="header mx-m">
        @@include('./partials/header.html', {
        "pageName": "basket",
        "breadcrumbs": ["Мужское", "Обувь", "Корзина"]
        })
    </header>

    <main class="checkout pb-l">
        <h1 class="checkout__title mx-m">Спасибо за покупку</h1>

        <p class="checkout__info mx-m">
            <span class="checkout__infokey">Номер заказа</span>
            <span class="checkout__infovalue"># 29220202002</span>
        </p>

        <form class="checkout__form mx-m">
            <h2 class="checkout__form-title">Оцените удобство навигации по основным разделам странцы товара</h2>

            <div class="checkout__btns">
                <button class="checkout__btn" type="button">
                    😍
                </button>
                <button class="checkout__btn" type="button">
                    🙂
                </button>
                <button class="checkout__btn" type="button">
                    😐
                </button>
                <button class="checkout__btn" type="button">
                    ☹️
                </button>
                </button>
                <button class="checkout__btn" type="button">
                    🤮
                </button>
            </div>

            <label class="checkout__label" for="review" >
                Легко ли было найти характеристики, отзывы, комментарии? Что бы вы хотели изменить?
            </label>
            <input type="text" class="checkout__input" id="review">

            <button class="checkout__submitBtn" type="submit">Оценить</button>
        </form>
    </main>

    @@include('./partials/footer.html')

    @@include('./partials/bottomNav.html', {
    "pageName": "basket"
    })

    <!-- Подключение кода слайдера -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <!-- ### -->
</body>

</html>