<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Новости</title>

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Подключение стилей слайдера -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/news.min.css">
</head>

<body>
    @@include('./partials/topBlock.html')

    <header class="header mx-m">
        @@include('./partials/header.html', {
        "pageName": "news",
        "breadcrumbs": ["Мужское", "Обувь", "Блог", "Тренды сезона"]
        })
    </header>

    <main class="main">
        <div class="main__open-news open-news">
            <div>
                <section class="main__title-wrapper">
                    <h1 class="main__title fs-xxl fw-900">Тренды сезона</h1>
                </section>

                <h3 class="fw-800">Каждый день — это повод стать лучше!</h3>

                <p>
                    Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её
                    успешного
                    развития необходимы инновационные ресурсы и желание, подкреплённое реальными возможностями. В
                    2018
                    году
                    наша
                    команда открыла современный маркетплейс Myreact.Ru, где представлена оригинальная спортивная
                    обувь,
                    одежды и
                    аксессуары известнейших мировых брендов Adidas Originals, Reebok Classic, Nike, Jordan, New
                    Balance,
                    Puma и
                    т.д. Мы успешно сотрудничаем с лучшими реселлерами, бутиками и производственными линиями,
                    предлагая
                    исключительно первоклассные изделия достойного качества. Перечень реализуемых товаров постоянно
                    расширяется
                    и пополняется передовыми новинками, которые будут интересны нашим покупателям.
                </p>
            </div>

            <div class="open-news__img">
                <img src="/assets/image/circle of shoes.png" alt="news img">
            </div>

            <div>
                <p>
                    Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её
                    успешного
                    развития необходимы инновационные ресурсы и желание, подкреплённое реальными возможностями. В
                    2018
                    году
                    наша команда открыла современный маркетплейс Myreact.Ru, где представлена оригинальная
                    спортивная
                    обувь,
                    одежд
                </p>

                <p>
                    Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её
                    успешного
                    развития необходимы инновационные ресурсы и желание, подкреплённое реальными возможностями. В
                    2018
                    году
                    наша команда открыла современный маркетплейс Myreact.Ru, где представлена оригинальная
                    спортивная
                    обувь,
                    одежд
                    Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её
                    успешного
                    развития необходимы инновационные ресурсы.
                </p>
            </div>

            <div class="news-block__info-wrapper">
                <div>
                    <button class="news-block__opinion news-block__opinion--positive">24</button>
                    <button class="news-block__opinion news-block__opinion--negative">4</button>
                </div>

                <p class="fs-xss">11.02.2022</p>
            </div>
        </div>

        <div class="main__block-title block-title">
            <h3 class="fs-s fw-800">Читайте так же</h3>
            <a href="#" class="block-title__more-link"></a>
        </div>

        <div class="main__slider swiper slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider__slide pr-xl">
                    <a href="#" class="card">
                        <div class="card__img-wrapper card__img-wrapper--round blog-card__img-wrapper--blog-img">
                            <img src="assets/image/slider-img/air-max.jpg" alt="product img">
                        </div>

                        <div class="card__description-wrapper ml-0">
                            <div>
                                <h3 class="fw-800">Lorem, ipsum.</h3>
                                <p class="fs-xxs mt-m">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>

                            <div class="news-block__heart"></div>
                        </div>

                        <div class="news-block__info-wrapper">
                            <div>
                                <button class="news-block__opinion news-block__opinion--positive">24</button>
                                <button class="news-block__opinion news-block__opinion--negative">4</button>
                            </div>

                            <p class="fs-xss">11.02.2022</p>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide slider__slide pr-xl">
                    <a href="#" class="card">
                        <div class="card__img-wrapper card__img-wrapper--round blog-card__img-wrapper--blog-img">
                            <img src="assets/image/slider-img/showcase ked.jpg" alt="product img">
                        </div>

                        <div class="card__description-wrapper ml-0">
                            <div>
                                <h3 class="fw-800">Lorem, ipsum.</h3>
                                <p class="fs-xxs mt-m">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>

                            <div class="news-block__heart"></div>
                        </div>

                        <div class="news-block__info-wrapper">
                            <div>
                                <button class="news-block__opinion news-block__opinion--positive">24</button>
                                <button class="news-block__opinion news-block__opinion--negative">4</button>
                            </div>

                            <p class="fs-xss">11.02.2022</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @@include('./partials/feedbackSections.html', {
        "includeFaq": false,
        "infoText": false,
        })
    </main>

    @@include('./partials/footer.html')

    @@include('./partials/bottomNav.html', {
    "pageName": "new"
    })

    <!-- Подключение кода слайдера -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <!-- ### -->
</body>

</html>