<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Новости</title>

    <!-- Подключение слайдера -->
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script defer src="assets/js/swiper.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/news.min.css">
</head>

<body>
    <div class="top-block color-white bg-black">
        <a class="top-block__text mb-s fs-xss">
            Бери <span class="top-block__highlighted-text fw-900">500 рублей</span> в подарок прямо сейчас!
        </a>
    </div>

    @@include('./partials/header.html', {
        "pageName": "news",
        "breadcrumbs": ["Мужское", "Обувь", "Блог", "Тренды сезона",]
    })

    <main class="main">
        <section class="main__title-wrapper">
            <h1 class="main__title fs-xxl fw-900">Тренды <br> сезона</h1>
        </section>

        <div class="main__open-news open-news">
            <div>
                <h3 class="fw-800">Каждый день — это повод стать лучше!</h3>
                <br>
                <p>
                    Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её
                    успешного
                    развития необходимы инновационные ресурсы и желание, подкреплённое реальными возможностями. В 2018
                    году
                    наша
                    команда открыла современный маркетплейс Myreact.Ru, где представлена оригинальная спортивная обувь,
                    одежды и
                    аксессуары известнейших мировых брендов Adidas Originals, Reebok Classic, Nike, Jordan, New Balance,
                    Puma и
                    т.д. Мы успешно сотрудничаем с лучшими реселлерами, бутиками и производственными линиями, предлагая
                    исключительно первоклассные изделия достойного качества. Перечень реализуемых товаров постоянно
                    расширяется
                    и пополняется передовыми новинками, которые будут интересны нашим покупателям.
                </p>
            </div>

            <img class="open-news__img" src="/assets/image/circle of shoes.png" alt="news img">

            <p>
                Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её успешного
                развития необходимы инновационные ресурсы и желание, подкреплённое реальными возможностями. В 2018 году
                наша команда открыла современный маркетплейс Myreact.Ru, где представлена оригинальная спортивная обувь,
                одежд
            </p>

            <p>
                Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её успешного
                развития необходимы инновационные ресурсы и желание, подкреплённое реальными возможностями. В 2018 году
                наша команда открыла современный маркетплейс Myreact.Ru, где представлена оригинальная спортивная обувь,
                одежд
                Современная индустрия товаров для спорта и активного отдыха не терпит застоя. По этому для её успешного
                развития необходимы инновационные ресурсы.
            </p>

            <div class="news-block__info-wrapper">
                <div>
                    <span class="news-block__opinion news-block__opinion--positive">24</span>
                    <span class="news-block__opinion news-block__opinion--negative">4</span>
                </div>

                <p class="fs-xss">11.02.2022</p>
            </div>
        </div>

        <div class="main__block-title block-title">
            <h3 class="fs-s fw-800">Читайте так же</h3>
            <a href="#" class="block-title__more-link"></a>
        </div>

        <div class="main__slider swiper slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider__slide pr-xl">
                    <a href="#" class="product-card">
                        <div
                            class="product-card__img-wrapper product-card__img-wrapper--round product-card__img-wrapper--blog-img">
                            <img src="assets/image/slider-img/air-max.jpg" alt="product img">
                        </div>

                        <div class="product-card__description-wrapper ml-0">
                            <div>
                                <h3 class="fw-800">Lorem, ipsum.</h3>
                                <p class="fs-xxs mt-m">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>

                            <div class="news-block__heart"></div>
                        </div>

                        <div class="news-block__info-wrapper">
                            <div>
                                <span class="news-block__opinion news-block__opinion--positive">24</span>
                                <span class="news-block__opinion news-block__opinion--negative">4</span>
                            </div>

                            <p class="fs-xss">11.02.2022</p>
                        </div>
                    </a>
                </div>

                <div class="swiper-slide slider__slide pr-xl">
                    <a href="#" class="product-card">
                        <div
                            class="product-card__img-wrapper product-card__img-wrapper--round product-card__img-wrapper--blog-img">
                            <img src="assets/image/slider-img/showcase ked.jpg" alt="product img">
                        </div>

                        <div class="product-card__description-wrapper ml-0">
                            <div>
                                <h3 class="fw-800">Lorem, ipsum.</h3>
                                <p class="fs-xxs mt-m">Lorem ipsum dolor sit amet consectetur.</p>
                            </div>

                            <div class="news-block__heart"></div>
                        </div>

                        <div class="news-block__info-wrapper">
                            <div>
                                <span class="news-block__opinion news-block__opinion--positive">24</span>
                                <span class="news-block__opinion news-block__opinion--negative">4</span>
                            </div>

                            <p class="fs-xss">11.02.2022</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="main__feedback-sections">
            <div class="main__communication-blocks-wrapper">
                <section class="communication-block communication-block--with-img color-white">
                    <h3 class="communication-block__title">Нужна помощь?</h3>
                    <p class="communication-block__sub-title">
                        Наши консультанты будут рады ответить на Ваши вопросы.
                    </p>

                    <div class="communication-block__btns-wrapper">
                        <button class="communication-block__btn p-s">написать</button>
                        <a href="tel:12323" class="communication-block__btn p-s">позвонить</a>
                    </div>
                </section>

                <section class="communication-block bg-off-white color-second-black">
                    <h3 class="communication-block__title">подпишитесь</h3>
                    <p class="communication-block__text">
                        Оставьте свой e-mail, чтобы первыми узнать о старте
                        SALE и новых поступлениях
                    </p>

                    <input class="communication-block__mail-input bg-white fs-xs fw-400" placeholder="Почта"
                        name="mail">

                    <p class="communication-block__sub-text fs-xss">
                        Подписываясь на рассылку, вы подтверждаете свое согласие с
                        <a class="color-second-black" href="#">политикой конфиденциальности.</a>
                    </p>
                </section>
            </div>

            <div class="main__chat-wrapper">
                <button class="chat fs-m fw-700 color-white bg-black">
                    <div class="chat__points">
                        <span class="chat__point bg-white"></span>
                        <span class="chat__point bg-white"></span>
                        <span class="chat__point bg-white"></span>
                    </div>
                    <p>чат</p>
                </button>
            </div>
        </div>
    </main>

    @@include('./partials/footer.html')

</body>

</html>