<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Опрос</title>

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Подключение стилей слайдера -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/questionnaire.min.css">
</head>

<body>
    @@include('./partials/topBlock.html')

    <header class="header mx-m">
        @@include('./partials/header.html', {
        "pageName": "questionnaire",
        "breadcrumbs": ["Опрос"]
        })
    </header>

    <main class="main">
        <h1 class="main__page-title">Опрос</h1>

        <form action="#" method="post" class="main__question-cards question-cards">
            <div class="question-cards__card">
                <p class="question-cards__card-title fs-l fw-700">
                    Оцените общее <span>качество описания</span>
                </p>

                <ul>
                    <li><input type="radio" hidden required name="question1" id="q1i1"><span><label
                                for="q1i1"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question1" id="q1i2"><span><label
                                for="q1i2"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question1" id="q1i3"><span><label
                                for="q1i3"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question1" id="q1i4"><span><label
                                for="q1i4"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question1" id="q1i5"><span><label
                                for="q1i5"></label></span>
                    </li>
                </ul>
            </div>


            <div class="question-cards__card">
                <p class="question-cards__card-title fs-l fw-700">
                    Оцените качество <span>фотографий товара</span>
                </p>

                <ul>
                    <li><input type="radio" hidden required name="question2" id="q2i1"><span><label
                                for="q2i1"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question2" id="q2i2"><span><label
                                for="q2i2"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question2" id="q2i3"><span><label
                                for="q2i3"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question2" id="q2i4"><span><label
                                for="q2i4"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question2" id="q2i5"><span><label
                                for="q2i5"></label></span>
                    </li>
                </ul>
            </div>

            <div class="question-cards__card">
                <p class="question-cards__card-sub-title fs-xs fw-700">
                    Оцените полноты, качество и доступность для понимания информации, указанной в описании и
                    характеристиках товара
                </p>

                <ul>
                    <li><input type="radio" hidden required name="question3" id="q3i1"><span><label
                                for="q3i1"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question3" id="q3i2"><span><label
                                for="q3i2"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question3" id="q3i3"><span><label
                                for="q3i3"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question3" id="q3i4"><span><label
                                for="q3i4"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question3" id="q3i5"><span><label
                                for="q3i5"></label></span>
                    </li>
                </ul>
            </div>

            <div class="question-cards__card">
                <p class="fs-xs fw-700">
                    Оцените полноты, качество и доступность для понимания информации, указанной в описании и
                    характеристиках товара
                </p>

                <ul>
                    <li><input type="radio" hidden required name="question4" id="q4i1"><span><label
                                for="q4i1"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question4" id="q4i2"><span><label
                                for="q4i2"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question4" id="q4i3"><span><label
                                for="q4i3"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question4" id="q4i4"><span><label
                                for="q4i4"></label></span>
                    </li>
                    <li><input type="radio" hidden required name="question4" id="q4i5"><span><label
                                for="q4i5"></label></span>
                    </li>
                </ul>

                <p class="mt-xl fs-xs fw-700">
                    Легко ли было найти характеристики, отзывы, комментарии? Что бы вы хотели изменить?
                </p>

                <textarea name="question5" class="question-cards__card-textarea fs-xs"></textarea>
            </div>

            <div class="question-cards__submit-btn-wrapper">
                <button type="submit" class="question-cards__submit-btn fs-xs fw-600">Завершить</button>
            </div>
        </form>
    </main>

    @@include('./partials/footer.html')

    @@include('./partials/bottomNav.html', {
    "pageName": "new"
    })

    <!-- Подключение кода слайдера -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <!-- ### -->

    <!-- Функционал input-ов -->
    <script src="assets/js/question.js"></script>
    <!-- ### -->
</body>

</html>