<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Страница магазина</title>

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Подключение стилей слайдера -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- ### -->

    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/css/shop.min.css">
</head>

<body>
    @@include('./partials/topBlock.html')

    <header class="header mx-m">
        @@include('./partials/header.html', {
        "pageName": "shop",
        "breadcrumbs": ["Адидас"]
        })
    </header>

    <main class="main">
        <div class="main__brand-baner banner">
            <section class="banner__wrapper color-white fs-xxs bg-black">
                <div class="banner__header">
                    <div class="banner__logo-and-link-wrapper">
                        <img class="banner__brand-logo" src="/assets/image/Yeezy-logo.svg"></img>
                    </div>

                    <p class="banner__brand-rating fs-s fw-600">4.98</p>
                </div>

                <div>
                    <p class="fw-700">Оригинальные товары</p>
                    <br>
                    <p class="fw-500">Спортивный стиль сегодня не просто в моде, а на вершине популярности. Хотите быть
                        в тренде и создать индивидуальный образ не в ущерб ежедневному комфорту? Сделать это легко,
                        выбрав Nike — одного из наиболее известных брендов и лидера продаж.
                        Начавшая в 1964 году с перепродажи обуви из Японии компания уже в 70-х годах выпустила свою
                        первую модель с поверхностью из нейлона и «вафельной» подошвой, выделившись среди конкурентов.
                        Началась активная разработка собственных уникальных технологий, повышающих комфорт и качество
                        обуви.
                    </p>
                </div>
            </section>
        </div>

        <div class="main__filter-buttons filter-buttons filter-buttons--outline">
            <button class="filter-buttons__btn filter-buttons__btn--active">Все</button>
            <button class="filter-buttons__btn">Campus</button>
            <button class="filter-buttons__btn">Forum low</button>
            <button class="filter-buttons__btn">Nite jogger</button>
        </div>

        <div class="main__products-list products-list">
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product1.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product2.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product1.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product2.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="main__reviews-slider-wrapper reviews-slider-wrapper">
            <div class="block-title">
                <h2 class="fs-s fw-800">Отзывы</h2>

                <div>
                    <ul class="stars-wrapper">
                        <li class="stars-wrapper__start"></li>
                        <li class="stars-wrapper__start"></li>
                        <li class="stars-wrapper__start"></li>
                        <li class="stars-wrapper__start"></li>
                        <li class="stars-wrapper__start--light"></li>
                    </ul>

                    <span class="fw-400 ml-s">203</span>
                </div>
            </div>

            <div class="reviews-slider-wrapper__reviews-slider swiper slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews-wrapper__review">
                            <div class="reviews-wrapper__user-info">
                                <img src="/assets/image/user-avatar.png" class="reviews-wrapper__user-avatar">
                                <p class="fw-700">Иван Иванов</p>
                            </div>

                            <span class="reviews-wrapper__review-score">5</span>

                            <ul class="stars-wrapper">
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start--light"></li>
                            </ul>

                            <div class="reviews-wrapper__text-wrapper">
                                <p class="reviews-wrapper__user-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Eaque
                                    minima maiores illum molestiae ipsa eveniet id quo iure velit libero officia, nemo
                                    facere quas
                                    aperiam numquam explicabo error sint quaerat.
                                </p>
                                <a href="#" class="reviews-wrapper__reed-more fs-xss fw-700">Читать далее</a>
                            </div>

                            <div class="news-block__info-wrapper">
                                <div>
                                    <span class="news-block__opinion news-block__opinion--positive">24</span>
                                    <span class="news-block__opinion news-block__opinion--negative">4</span>
                                </div>

                                <p class="fs-xss">11.02.2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews-wrapper__review">
                            <div class="reviews-wrapper__user-info">
                                <img src="/assets/image/user-avatar.png" class="reviews-wrapper__user-avatar">
                                <p class="fw-700">Иван Иванов</p>
                            </div>

                            <span class="reviews-wrapper__review-score">5</span>

                            <ul class="stars-wrapper">
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start"></li>
                                <li class="stars-wrapper__start--light"></li>
                            </ul>

                            <div class="reviews-wrapper__text-wrapper">
                                <p class="reviews-wrapper__user-text">Если вы искренне хотите найти</p>
                                <a href="#" class="reviews-wrapper__reed-more fs-xss fw-700">Читать далее</a>
                            </div>

                            <div class="news-block__info-wrapper">
                                <div>
                                    <span class="news-block__opinion news-block__opinion--positive">24</span>
                                    <span class="news-block__opinion news-block__opinion--negative">4</span>
                                </div>

                                <p class="fs-xss">11.02.2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews-slider-wrapper__links-wrapper">
                <a href="#" class="reviews-slider-wrapper__link">Прочитать все отзыв</a>
                <a href="#" class="reviews-slider-wrapper__link reviews-slider-wrapper__link--highlight">Добавить
                    отзыв</a>
            </div>
        </div>

        <div class="main__block-title block-title">
            <h3 class="fs-s fw-800">Популярные товары</h3>
            <a href="#" class="block-title__more-link">все</a>
        </div>

        <div class="main__products-list products-list">
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product1.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product2.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product1.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product2.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="main__block-title block-title">
            <h3 class="fs-s fw-800">Sale</h3>
            <a href="#" class="block-title__more-link">все</a>
        </div>

        <div class="main__products-list products-list">
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product1.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product2.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product1.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
            <div class="products-list__card">
                <a href="#" class="card">
                    <div class="card__img-wrapper">
                        <img src="assets/image/slider-img/product2.png" alt="product img">
                        <p class="card__price product-card__price fw-800 bg-white">48 060</p>
                    </div>

                    <div class="card__description-wrapper">
                        <div>
                            <h3 class="fw-800">Nike</h3>
                            <p>Air Max SC</p>
                        </div>

                        <p class="card__score">4.6</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="main__feedback-sections">
            <div class="main__communication-blocks-wrapper">
                <section class="communication-block communication-block--with-img color-white">
                    <div class="communication-block__content-wrapper">
                        <h3 class="communication-block__title">Нужна помощь?</h3>
                        <p class="communication-block__sub-title">
                            Наши консультанты будут рады ответить на Ваши вопросы.
                        </p>
                    </div>

                    <div class="communication-block__btns-wrapper">
                        <button class="communication-block__btn p-s">написать</button>
                        <a href="tel:12323" class="communication-block__btn p-s">позвонить</a>
                    </div>
                </section>

                <section class="communication-block bg-off-white color-second-black">
                    <div class="communication-block__content-wrapper">
                        <h3 class="communication-block__title">подпишитесь</h3>
                        <p class="communication-block__text">
                            Оставьте свой e-mail, чтобы первыми узнать о старте
                            SALE и новых поступлениях
                        </p>

                        <input class="communication-block__mail-input bg-white fs-xs fw-400" placeholder="Почта"
                            name="mail">

                        <p class="communication-block__sub-text fs-xss">
                            Подписываясь на рассылку, вы подтверждаете свое согласие с
                            <a class="color-second-black" href="#">политикой конфиденциальности.</a>
                        </p>
                    </div>
                </section>
            </div>

            <div class="main__chat-wrapper">
                <button class="chat fw-700 color-white bg-black">
                    <div class="chat__points">
                        <span class="chat__point bg-white"></span>
                        <span class="chat__point bg-white"></span>
                        <span class="chat__point bg-white"></span>
                    </div>
                    <p>чат</p>
                </button>
            </div>
        </div>
    </main>

    @@include('./partials/footer.html')

    @@include('./partials/bottomNav.html', {
    "pageName": "shop"
    })

    <!-- Подключение кода слайдера -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
    <!-- ### -->

    <!-- Подключение функционала фильтрующих кнопок -->
    <script src="assets/js/filter-buttons.js"></script>
    <!-- ### -->

    <!-- Утилиты -->
    <script src="assets/js/utils.js"></script>
    <!-- ### -->

    <!-- Кнопки счетчика -->
    <script src="assets/js/counter-btns.js"></script>
    <!-- ### -->

    <!-- Функционал открытия и закрытия color-selector-а -->
    <script src="assets/js/color-selector.js"></script>
    <!-- ### -->

    <script>
        const elems = document.getElementsByClassName("reviews-wrapper__user-text");

        for (const elem of elems) textToEllipsis(elem);
    </script>
</body>

</html>