@media (max-width: 768px) {
  .fs-l {
    font-size: calc(24px + 20.4 * (100vw - 430px) / 1920);
  }
  .fs-m {
    font-size: calc(18px + 30.6 * (100vw - 430px) / 1920);
  }
  .fs-s {
    font-size: calc(16px + 27.2 * (100vw - 430px) / 1920);
  }
  .fs-xs {
    font-size: calc(14px + 6.8 * (100vw - 430px) / 1920);
  }
  .fs-xxs {
    font-size: calc(12px + 10.2 * (100vw - 430px) / 1920);
  }
  .fs-xss {
    font-size: calc(10px + 13.6 * (100vw - 430px) / 1920);
  }
}
.open-news__img {
  width: 100%;
  max-width: 553px;
  border-radius: 20px;
}
.open-news__content-wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .open-news {
    margin: 27px 15px 0 15px;
  }
}
.news-block__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 8px;
  border-top: 1.5px solid #F6F6F6;
}
.news-block__opinion {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  margin-right: 26px;
}
.news-block__opinion::before {
  content: "";
  width: 18px;
  height: 18px;
}
.news-block__opinion--positive {
  color: #3075FC;
}
.news-block__opinion--positive::before {
  background: center/cover no-repeat url("../image/smile.svg");
}
.news-block__opinion--negative {
  color: #F91818;
}
.news-block__opinion--negative::before {
  background: center/cover no-repeat url("../image/sad.svg");
}
.news-block__heart {
  min-width: 16px;
  min-height: 16px;
  background: center/cover no-repeat url("../image/heart.svg");
}

@media (min-width: 1200px) {
  .news-block__opinion::before {
    width: 24px;
    height: 24px;
  }
  .news-block__heart {
    min-width: 26px;
    min-height: 26px;
  }
}
.header {
  overflow: hidden;
  background: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);
}
.header__breadcrumbs > ul > li {
  color: #FFFFFF;
}
.header__page-icon, .header__basket {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__page-icon {
  background-image: url("../image/home--white.svg");
}
.header__basket {
  background-image: url("../image/shopping-bag--white.svg");
}
.header__page-title {
  position: relative;
  margin-top: 45px;
  margin-bottom: 71px;
  z-index: 0;
  color: #48455C;
  text-align: center;
  text-transform: uppercase;
}
.header__page-title p {
  letter-spacing: 8px;
  text-transform: lowercase;
}
.header__page-title::after {
  content: "";
  position: absolute;
  top: -18px;
  left: -18%;
  right: -18%;
  min-width: 561px;
  height: 561px;
  z-index: -1;
  background-color: #FFFFFF;
  border-radius: 100%;
}

.main__open-news {
  margin-top: 0;
}
.main__block-title {
  margin-top: 50px;
}
.main__slider {
  padding: 0 15px;
}
.main__new-products-slider {
  margin-top: 53px;
}
.main__feedback-sections {
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .header {
    padding: 10px 10px 0 10px;
  }
}
@media (min-width: 568px) {
  .main__open-news {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 73px;
         column-gap: 73px;
  }
  .main__open-news > .open-news__img, .main__open-news > .open-news__content-wrapper {
    flex: 1 1;
    margin-left: auto;
    margin-right: auto;
  }
  .main__open-news > .open-news__content-wrapper {
    min-width: 340px;
  }
}
@media (min-width: 1200px) {
  .header {
    margin: 0;
  }
  .header__logo-and-basket-wrapper, .header__breadcrumbs {
    margin-left: 100px;
    margin-right: 100px;
  }
  .header__page-title::after {
    left: -15%;
    right: -15%;
  }
  .main__open-news, .main__open-news, .main__block-title, .main__slider, .main__new-products-slider {
    margin-left: 0;
    margin-right: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
}