@media (max-width: 768px) {
  .fs-l {
    font-size: calc(24px + 20.4 * (100vw - 430px) / 1920);
  }
  .fs-m {
    font-size: calc(18px + 30.6 * (100vw - 430px) / 1920);
  }
  .fs-s {
    font-size: calc(16px + 27.2 * (100vw - 430px) / 1920);
  }
  .fs-xs {
    font-size: calc(14px + 6.8 * (100vw - 430px) / 1920);
  }
  .fs-xxs {
    font-size: calc(12px + 10.2 * (100vw - 430px) / 1920);
  }
  .fs-xss {
    font-size: calc(10px + 13.6 * (100vw - 430px) / 1920);
  }
}
.page-selcetor, .page-selcetor__pages-wrapper {
  display: flex;
  gap: 5px;
}
.page-selcetor__back, .page-selcetor__next, .page-selcetor__page {
  border-radius: 10px;
  background-color: #F5F6F6;
}
.page-selcetor__back, .page-selcetor__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 37px;
}
.page-selcetor__next-icon, .page-selcetor__back-icon {
  width: 18px;
  height: 18px;
}
.page-selcetor__next-icon--disabled, .page-selcetor__back-icon--disabled {
  opacity: 0.5;
}
.page-selcetor__next-icon {
  background-image: url("../image/arrow-black.svg");
}
.page-selcetor__back-icon {
  background-image: url("../image/arrow-black.svg");
  transform: rotate(180deg);
}
.page-selcetor__page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  height: 37px;
  font-weight: 600;
  line-height: 100%;
}
.page-selcetor__page--select {
  color: #FFFFFF;
  background-color: #3075FC;
}

.nav__search-with-filter {
  display: flex;
  gap: 10px;
}
.nav__search-with-filter > .nav__search-wrapper {
  flex: 1 1;
}
.nav__search-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 2;
  min-height: 40px;
  padding-right: 8px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
.nav__search {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.nav__search-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: center url("../image/search.svg") no-repeat;
}
.nav__search-input {
  width: 100%;
  height: 100%;
}
.nav__btns-wrapper {
  display: flex;
  align-items: center;
}
.nav__color-btn {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 46px;
}
.nav__color-btn::after {
  content: "";
  width: 18px;
  height: 18px;
  margin: 3px;
  background-color: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 46px;
}
.nav__color-selector {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 30px 16px 26px 16px;
  z-index: -1;
  border-radius: 0px 0px 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.nav__color-selector--hidden {
  display: none;
}
.nav__colors-btns-wrapper {
  display: flex;
  gap: 10px;
}
.nav__search-counter-wrapper {
  position: relative;
}
.nav__search-counter {
  width: 55px;
  height: 24px;
  padding: 4px 4px 4px 9px;
  margin-left: 7px;
  border-radius: 50px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.nav__search-counter-btn {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  padding: 0 10px;
  padding-top: 13px;
  background: bottom url("../image/mini-top-arrow.svg") no-repeat;
}
.nav__search-counter-btn#dec-count {
  bottom: 0;
  background: top url("../image/mini-down-arrow.svg") no-repeat;
}
.nav__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.nav__link {
  display: inline-block;
  border-radius: 50px;
}

.filter-buttons {
  display: flex;
  gap: 5px;
  padding: 6px 9px;
  box-sizing: border-box;
  border-radius: 60px;
}
.filter-buttons__btn {
  flex-grow: 1;
  padding: 10px 25px;
  text-align: center;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.15s ease-in-out;
}
.filter-buttons__btn--active {
  color: #FFFFFF !important;
  font-weight: 700;
  background-color: #3075FC;
}
.filter-buttons--outline .filter-buttons__btn {
  border: 1px solid #3075FC;
}

@media (min-width: 1200px) {
  .filter-buttons__btn {
    font-size: 14px;
  }
}
.brands-list {
  margin-top: 22px;
  margin: 22px 29px 0 20px;
  font-weight: 300;
}
.brands-list__brand {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  line-height: 30px;
}
.brands-list__brand--crown > .brands-list__brand-name {
  position: relative;
}
.brands-list__brand--crown > .brands-list__brand-name::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  transform: translate(0, -50%);
  margin-left: 10px;
  background: center url("../image/crown--black.svg") no-repeat;
}
.brands-list__favorite-btn {
  width: 18px;
  height: 18px;
  background: center url("../image/heart--light.svg") no-repeat;
}

.main__nav {
  margin: 12px 16px 11px;
}
.main__page-selcetor {
  justify-content: flex-end;
  margin: 37px 28px 42px auto;
}
.main__logo-slider {
  margin-top: 34px;
  padding: 0 18px;
}
.main__logo-slider .swiper-wrapper {
  align-items: center;
}
.main__logo-slider .slider__slide {
  padding-right: 43px;
  border-radius: 0;
}
.main__logo-slider .slider__slide:last-child {
  padding-right: 0;
}
.main__filter-buttons {
  margin: 0 16px;
}

@media (min-width: 1200px) {
  .header {
    margin: 0;
  }
  .header__logo-and-basket-wrapper, .header__breadcrumbs, .header > .nav {
    margin-left: 100px;
    margin-right: 100px;
  }
  .main__block-title, .main__slider, .main > .brands-list {
    margin-left: 0;
    margin-right: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
  .main__nav, .main__filter-buttons {
    margin-left: 100px;
    margin-right: 100px;
  }
  .main__page-selcetor {
    margin-right: 100px;
  }
}