@media (max-width: 768px) {
  .fs-l {
    font-size: calc(24px + 20.4 * (100vw - 430px) / 1920);
  }
  .fs-m {
    font-size: calc(18px + 30.6 * (100vw - 430px) / 1920);
  }
  .fs-s {
    font-size: calc(16px + 27.2 * (100vw - 430px) / 1920);
  }
  .fs-xs {
    font-size: calc(14px + 6.8 * (100vw - 430px) / 1920);
  }
  .fs-xxs {
    font-size: calc(12px + 10.2 * (100vw - 430px) / 1920);
  }
  .fs-xss {
    font-size: calc(10px + 13.6 * (100vw - 430px) / 1920);
  }
}
.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10rex 1rem;
  z-index: 10;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7137254902);
}
.popup__content {
  margin-top: 30px;
  border-top: 1px solid #F6F6F6;
}
.popup__content-wrapper {
  position: relative;
  width: 100%;
  min-width: 390px;
  min-height: 295px;
  max-width: 750px;
  margin: auto;
  padding: 28px 18px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.popup__title, .popup__sub-title {
  color: #000;
  text-align: center;
}
.popup__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  padding: 10px;
  z-index: 10;
  background: center url("../image/close-icon.svg") no-repeat;
}
.popup__close-btn--light {
  background: center url("../image/close-icon--light.svg") no-repeat;
}
.popup__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #000000;
}
.popup__btn--light {
  color: #3075FC;
  background-color: #FFFFFF;
}
.popup__link {
  display: block;
  color: #3075FC;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
.popup__inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.popup--hidden {
  display: none;
}

.filter-btn {
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
  background: center url("../image/filter-icon.svg") no-repeat;
}

.product-size-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  border: 1.5px solid transparent;
  background-color: #F2F2F2;
}
.product-size-card--over {
  color: rgba(0, 0, 0, 0.1019607843);
}
.product-size-card--over::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: rotate(45deg) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1019607843);
}
.product-size-card--notification::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  background: center url("../image/bell.svg") no-repeat;
}
.product-size-card--less::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  background: center url("../image/less.svg") no-repeat;
}
.product-size-card.selected {
  border: 1.5px solid #000000;
}

.filter-buttons {
  display: flex;
  gap: 5px;
  padding: 6px 9px;
  box-sizing: border-box;
  border-radius: 60px;
}
.filter-buttons__btn {
  flex-grow: 1;
  padding: 10px 25px;
  text-align: center;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.15s ease-in-out;
}
.filter-buttons__btn--active {
  color: #FFFFFF !important;
  font-weight: 700;
  background-color: #3075FC;
}
.filter-buttons--outline .filter-buttons__btn {
  border: 1px solid #3075FC;
}

@media (min-width: 1200px) {
  .filter-buttons__btn {
    font-size: 14px;
  }
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 2px;
}
.products-list__card {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.nav__search-with-filter {
  display: flex;
  gap: 10px;
}
.nav__search-with-filter > .nav__search-wrapper {
  flex: 1 1;
}
.nav__search-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 2;
  min-height: 40px;
  padding-right: 8px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
.nav__search {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.nav__search-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: center url("../image/search.svg") no-repeat;
}
.nav__search-input {
  width: 100%;
  height: 100%;
}
.nav__btns-wrapper {
  display: flex;
  align-items: center;
}
.nav__color-btn {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 46px;
}
.nav__color-btn::after {
  content: "";
  width: 18px;
  height: 18px;
  margin: 3px;
  background-color: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 46px;
}
.nav__color-selector {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 30px 16px 26px 16px;
  z-index: -1;
  border-radius: 0px 0px 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.nav__color-selector--hidden {
  display: none;
}
.nav__colors-btns-wrapper {
  display: flex;
  gap: 10px;
}
.nav__search-counter-wrapper {
  position: relative;
}
.nav__search-counter {
  width: 55px;
  height: 24px;
  padding: 4px 4px 4px 9px;
  margin-left: 7px;
  border-radius: 50px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.nav__search-counter-btn {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  padding: 0 10px;
  padding-top: 13px;
  background: bottom url("../image/mini-top-arrow.svg") no-repeat;
}
.nav__search-counter-btn#dec-count {
  bottom: 0;
  background: top url("../image/mini-down-arrow.svg") no-repeat;
}
.nav__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.nav__link {
  display: inline-block;
  border-radius: 50px;
}

.page-selcetor, .page-selcetor__pages-wrapper {
  display: flex;
  gap: 5px;
}
.page-selcetor__back, .page-selcetor__next, .page-selcetor__page {
  border-radius: 10px;
  background-color: #F5F6F6;
}
.page-selcetor__back, .page-selcetor__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 37px;
}
.page-selcetor__next-icon, .page-selcetor__back-icon {
  width: 18px;
  height: 18px;
}
.page-selcetor__next-icon--disabled, .page-selcetor__back-icon--disabled {
  opacity: 0.5;
}
.page-selcetor__next-icon {
  background-image: url("../image/arrow-black.svg");
}
.page-selcetor__back-icon {
  background-image: url("../image/arrow-black.svg");
  transform: rotate(180deg);
}
.page-selcetor__page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  height: 37px;
  font-weight: 600;
  line-height: 100%;
}
.page-selcetor__page--select {
  color: #FFFFFF;
  background-color: #3075FC;
}

.category-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: calc(12px + 10.2 * (100vw - 430px) / 1920);
  font-weight: 700;
  color: #3075FC;
  background-color: #FFFFFF;
}
.category-link__icon {
  display: block;
  width: 16px;
  height: 16px;
}

@media (min-width: 1200px) {
  .category-link {
    font-size: calc(12px + 0.3125vw);
  }
  .category-link__icon {
    width: 32px;
    height: 32px;
  }
}
.brand-link {
  text-align: center;
  font-size: calc(10px + 23.8 * (100vw - 430px) / 1920);
  font-weight: 500;
}
.brand-link__img {
  width: 55px;
  height: 55px;
  margin-bottom: 5px;
  border-radius: 100%;
}

@media (min-width: 1200px) {
  .brand-link {
    font-size: calc(10px + 0.7291666667vw);
  }
  .brand-link__img {
    width: 133px;
    height: 133px;
  }
}
.from-to-inputs {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 60px;
  border-radius: 60px;
}
.from-to-inputs__input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 1;
}
.from-to-inputs__input input {
  max-width: 50px;
}
.from-to-inputs__line {
  width: 1px;
  height: 16px;
  margin: auto;
  background-color: #C4C4C4;
}

.product-filter-form {
  margin-top: 44px;
}
.product-filter-form__sort-type, .product-filter-form__cost, .product-filter-form__size, .product-filter-form__color {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-filter-form__sort-type {
  gap: 22px;
}
.product-filter-form__cost {
  gap: 8px;
  margin-top: 45px;
}
.product-filter-form__size {
  gap: 12px;
  margin-top: 21px;
}
.product-filter-form__size-selector {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  gap: 5px;
}
.product-filter-form__color {
  gap: 18px;
  margin-top: 51px;
}
.product-filter-form__submit-btn {
  margin-top: 46px;
}
.product-filter-form__checkboxes {
  margin-top: 45px;
}
.product-filter-form__checkboxes > ul {
  max-height: 106px;
  margin-top: 15px;
  padding-right: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.product-filter-form__checkboxes > ul > li > label, .product-filter-form__checkboxes > ul > li > label > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.product-filter-form__checkboxes > ul > li > label {
  padding: 5px 0;
}
.product-filter-form__checkboxes > ul > li:not(:last-child) {
  margin-bottom: 8px;
}

.main__filter-buttons-slider {
  padding: 0 15px;
}
.main__filter-buttons-slider .filter-buttons__btn {
  font-size: 12px;
  color: #3075FC;
}
.main__products-list {
  margin: 0 14px;
  margin-top: 30px;
}
.main__page-selcetor {
  justify-content: flex-end;
  margin-top: 36px;
  margin-right: 14px;
}
.main__category-links-wrapper {
  margin-top: 30px;
  padding: 26px 15px 20px 15px;
  background: linear-gradient(#A230FC, #3075FC);
}
.main__brand-links-wrapper {
  padding: 0 19px;
}
.main__brand-baner {
  margin: 31px 18px 0 15px;
}
.main__brand-baner .banner__wrapper {
  padding: 14px 17px 23px 17px;
}
.main__communication-blocks-wrapper {
  margin-top: 17px;
}

@media (min-width: 1200px) {
  .header {
    margin: 0;
  }
  .header__logo-and-basket-wrapper, .header__breadcrumbs, .header > .nav {
    margin-left: 100px;
    margin-right: 100px;
  }
  .main__block-title, .main__filter-buttons-slider, .main__products-list, .main__page-selcetor, .main__category-links-wrapper, .main__brand-links-wrapper, .main__brand-baner {
    margin-left: 0;
    margin-right: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
}