@media (max-width: 768px) {
  .fs-l {
    font-size: calc(24px + 20.4 * (100vw - 430px) / 1920);
  }
  .fs-m {
    font-size: calc(18px + 30.6 * (100vw - 430px) / 1920);
  }
  .fs-s {
    font-size: calc(16px + 27.2 * (100vw - 430px) / 1920);
  }
  .fs-xs {
    font-size: calc(14px + 6.8 * (100vw - 430px) / 1920);
  }
  .fs-xxs {
    font-size: calc(12px + 10.2 * (100vw - 430px) / 1920);
  }
  .fs-xss {
    font-size: calc(10px + 13.6 * (100vw - 430px) / 1920);
  }
}
.filter-btn {
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
  background: center url("../image/filter-icon.svg") no-repeat;
}

.filter-buttons {
  display: flex;
  gap: 5px;
  padding: 6px 9px;
  box-sizing: border-box;
  border-radius: 60px;
}
.filter-buttons__btn {
  flex-grow: 1;
  padding: 10px 25px;
  text-align: center;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.15s ease-in-out;
}
.filter-buttons__btn--active {
  color: #FFFFFF !important;
  font-weight: 700;
  background-color: #3075FC;
}
.filter-buttons--outline .filter-buttons__btn {
  border: 1px solid #3075FC;
}

@media (min-width: 1200px) {
  .filter-buttons__btn {
    font-size: 14px;
  }
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 2px;
}
.products-list__card {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.reviews-slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 19px 0 30px 0;
  background-color: #F5F6F6;
}
.reviews-slider-wrapper .block-title {
  margin: 0 15px;
}
.reviews-slider-wrapper__reviews-slider {
  padding: 0 15px;
  overflow-y: unset;
}
.reviews-slider-wrapper__reviews-slider .swiper-slide {
  width: calc(340px + 362.1 * (100vw - 430px) / 1920);
  height: auto;
  min-height: 225px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.reviews-slider-wrapper__reviews-slider .swiper-slide .reviews-wrapper__review {
  height: 100%;
}
.reviews-slider-wrapper__reviews-slider .swiper-slide .reviews-wrapper__user-text {
  margin-bottom: 0;
  padding-bottom: 17px;
}
.reviews-slider-wrapper__reviews-slider .swiper-slide .reviews-wrapper__review {
  box-shadow: none;
}
.reviews-slider-wrapper__links-wrapper {
  display: flex;
  gap: 5px;
  margin: 0 15px;
}
.reviews-slider-wrapper__link {
  width: 100%;
  padding: 16px 5px;
  color: #3075FC;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #3075FC;
  border-radius: 6px;
}
.reviews-slider-wrapper__link--highlight {
  color: #FFFFFF;
  background-color: #3075FC;
}

@media (min-width: 768px) {
  .reviews-slider-wrapper__reviews-slider .swiper-slide {
    width: calc(340px + 11.09375vw);
    min-height: 291px;
  }
}
@media (min-width: 1200px) {
  .reviews-slider-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    background-color: unset;
  }
  .reviews-slider-wrapper > .block-title, .reviews-slider-wrapper__reviews-slider {
    margin: 0;
    padding: 0;
  }
  .reviews-slider-wrapper > .block-title {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 18px;
  }
  .reviews-slider-wrapper > .block-title > div {
    font-size: 18px;
  }
  .reviews-slider-wrapper__reviews-slider {
    grid-column: 1/3;
    overflow: unset;
  }
  .reviews-slider-wrapper__links-wrapper {
    grid-row: 1/1;
    grid-column: 2/3;
    justify-content: flex-end;
  }
  .reviews-slider-wrapper__links-wrapper__link {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.reviews-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.reviews-wrapper__review {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 11px 35px 18px 25px;
  font-weight: 500;
  border-radius: 10px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.reviews-wrapper__review-score {
  display: block;
  position: absolute;
  top: 0;
  right: 25px;
  min-width: 23px;
  height: 40px;
  padding: 0 5px;
  padding-top: 9px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-align: center;
  background-color: #000000;
}
.reviews-wrapper__review-score::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border: 12px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}
.reviews-wrapper__user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.reviews-wrapper__user-avatar {
  height: 39px;
  width: 39px;
  border-radius: 100%;
}
.reviews-wrapper__user-text {
  margin-top: 10px;
  margin-bottom: 42px;
}
.reviews-wrapper__text-wrapper {
  position: relative;
  height: 100%;
}
.reviews-wrapper__reed-more {
  position: absolute;
  bottom: 1rex;
  right: 0;
  color: #3075FC;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .reviews-wrapper__review {
    flex: 1;
    width: 100%;
  }
}
.stars-wrapper {
  display: inline-block;
}
.stars-wrapper__start, .stars-wrapper__start--light {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.stars-wrapper__start:last-child, .stars-wrapper__start--light:last-child {
  margin-right: 0;
}
.stars-wrapper__start {
  background: center/contain url("../image/star--fill.svg") no-repeat;
}
.stars-wrapper__start--light {
  background: center/contain url("../image/star--light.svg") no-repeat;
}

@media (min-width: 1200px) {
  .stars-wrapper__start, .stars-wrapper__start--light {
    width: 18px;
    height: 18px;
  }
}
.news-block__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 8px;
  border-top: 1.5px solid #F6F6F6;
}
.news-block__opinion {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  margin-right: 26px;
}
.news-block__opinion::before {
  content: "";
  width: 18px;
  height: 18px;
}
.news-block__opinion--positive {
  color: #3075FC;
}
.news-block__opinion--positive::before {
  background: center/cover no-repeat url("../image/smile.svg");
}
.news-block__opinion--negative {
  color: #F91818;
}
.news-block__opinion--negative::before {
  background: center/cover no-repeat url("../image/sad.svg");
}
.news-block__heart {
  min-width: 16px;
  min-height: 16px;
  background: center/cover no-repeat url("../image/heart.svg");
}

@media (min-width: 1200px) {
  .news-block__opinion::before {
    width: 24px;
    height: 24px;
  }
  .news-block__heart {
    min-width: 26px;
    min-height: 26px;
  }
}
.nav__search-with-filter {
  display: flex;
  gap: 10px;
}
.nav__search-with-filter > .nav__search-wrapper {
  flex: 1 1;
}
.nav__search-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 2;
  min-height: 40px;
  padding-right: 8px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
.nav__search {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.nav__search-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: center url("../image/search.svg") no-repeat;
}
.nav__search-input {
  width: 100%;
  height: 100%;
}
.nav__btns-wrapper {
  display: flex;
  align-items: center;
}
.nav__color-btn {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 46px;
}
.nav__color-btn::after {
  content: "";
  width: 18px;
  height: 18px;
  margin: 3px;
  background-color: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 46px;
}
.nav__color-selector {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 30px 16px 26px 16px;
  z-index: -1;
  border-radius: 0px 0px 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.nav__color-selector--hidden {
  display: none;
}
.nav__colors-btns-wrapper {
  display: flex;
  gap: 10px;
}
.nav__search-counter-wrapper {
  position: relative;
}
.nav__search-counter {
  width: 55px;
  height: 24px;
  padding: 4px 4px 4px 9px;
  margin-left: 7px;
  border-radius: 50px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.nav__search-counter-btn {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  padding: 0 10px;
  padding-top: 13px;
  background: bottom url("../image/mini-top-arrow.svg") no-repeat;
}
.nav__search-counter-btn#dec-count {
  bottom: 0;
  background: top url("../image/mini-down-arrow.svg") no-repeat;
}
.nav__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.nav__link {
  display: inline-block;
  border-radius: 50px;
}
.nav__desk-link {
  display: none;
}
.nav__desk-links-wrapper {
  display: none;
}

@media (min-width: 1200px) {
  .nav__desk-links-wrapper {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-right: auto;
  }
  .nav__link, .nav__desk-link {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: unset;
  }
  .nav__desk-link {
    display: inline-block;
  }
  .nav__desk-link--selected {
    font-weight: 700;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}
.main__brand-baner {
  margin: 19px 17px 0 16px;
}
.main__brand-baner .banner__wrapper {
  padding: 17px 17px 23px 17px;
}
.main__filter-buttons {
  margin-top: 28px;
}
.main__filter-buttons .filter-buttons__btn {
  font-size: 12px;
  color: #3075FC;
}
.main__products-list {
  margin: 0 14px;
}
.main__reviews-slider-wrapper {
  margin-top: 46px;
}

@media (min-width: 1200px) {
  .main__block-title, .main__filter-buttons, .main__products-list, .main__brand-baner, .main__reviews-slider-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
  .main__products-list {
    margin-top: 30px;
  }
  .main__feedback-sections {
    margin-top: 69px;
  }
  .main__filter-buttons .filter-buttons__btn {
    font-size: 16px;
  }
}