@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.eot") format("eot"), url("../fonts/Gilroy-Heavy.ttf") format("truetype"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.eot") format("eot"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot") format("eot"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot") format("eot"), url("../fonts/Gilroy-Semibold.ttf") format("truetype"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot") format("eot"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot") format("eot"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot") format("eot"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 768px) {
  .fs-l {
    font-size: calc(24px + 20.4 * (100vw - 430px) / 1920);
  }
  .fs-m {
    font-size: calc(18px + 30.6 * (100vw - 430px) / 1920);
  }
  .fs-s {
    font-size: calc(16px + 27.2 * (100vw - 430px) / 1920);
  }
  .fs-xs {
    font-size: calc(14px + 6.8 * (100vw - 430px) / 1920);
  }
  .fs-xxs {
    font-size: calc(12px + 10.2 * (100vw - 430px) / 1920);
  }
  .fs-xss {
    font-size: calc(10px + 13.6 * (100vw - 430px) / 1920);
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  color: #000000;
  font-family: "Gilroy", Arial, "sans-serif";
  font-size: calc(14px + 0.2083333333vw);
  font-weight: 400;
}

main {
  overflow: hidden;
}

footer {
  margin-top: auto;
}

a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border: unset;
  outline: none;
  background-color: unset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    font-size: calc(14px + 6.8 * (100vw - 430px) / 1920);
  }
}
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.spacer-0 {
  spacer: 0;
}

.m-xs {
  margin: 2px;
}

.mt-xs {
  margin-top: 2px;
}

.mr-xs {
  margin-right: 2px;
}

.mb-xs {
  margin-bottom: 2px;
}

.ml-xs {
  margin-left: 2px;
}

.mx-xs {
  margin-left: 2px;
  margin-right: 2px;
}

.my-xs {
  margin-bottom: 2px;
  margin-top: 2px;
}

.p-xs {
  padding: 2px;
}

.pt-xs {
  padding-top: 2px;
}

.pr-xs {
  padding-right: 2px;
}

.pb-xs {
  padding-bottom: 2px;
}

.pl-xs {
  padding-left: 2px;
}

.px-xs {
  padding-left: 2px;
  padding-right: 2px;
}

.py-xs {
  padding-bottom: 2px;
  padding-top: 2px;
}

.spacer-xs {
  spacer: 2px;
}

.m-s {
  margin: 5px;
}

.mt-s {
  margin-top: 5px;
}

.mr-s {
  margin-right: 5px;
}

.mb-s {
  margin-bottom: 5px;
}

.ml-s {
  margin-left: 5px;
}

.mx-s {
  margin-left: 5px;
  margin-right: 5px;
}

.my-s {
  margin-bottom: 5px;
  margin-top: 5px;
}

.p-s {
  padding: 5px;
}

.pt-s {
  padding-top: 5px;
}

.pr-s {
  padding-right: 5px;
}

.pb-s {
  padding-bottom: 5px;
}

.pl-s {
  padding-left: 5px;
}

.px-s {
  padding-left: 5px;
  padding-right: 5px;
}

.py-s {
  padding-bottom: 5px;
  padding-top: 5px;
}

.spacer-s {
  spacer: 5px;
}

.m-m {
  margin: 10px;
}

.mt-m {
  margin-top: 10px;
}

.mr-m {
  margin-right: 10px;
}

.mb-m {
  margin-bottom: 10px;
}

.ml-m {
  margin-left: 10px;
}

.mx-m {
  margin-left: 10px;
  margin-right: 10px;
}

.my-m {
  margin-bottom: 10px;
  margin-top: 10px;
}

.p-m {
  padding: 10px;
}

.pt-m {
  padding-top: 10px;
}

.pr-m {
  padding-right: 10px;
}

.pb-m {
  padding-bottom: 10px;
}

.pl-m {
  padding-left: 10px;
}

.px-m {
  padding-left: 10px;
  padding-right: 10px;
}

.py-m {
  padding-bottom: 10px;
  padding-top: 10px;
}

.spacer-m {
  spacer: 10px;
}

.m-l {
  margin: 15px;
}

.mt-l {
  margin-top: 15px;
}

.mr-l {
  margin-right: 15px;
}

.mb-l {
  margin-bottom: 15px;
}

.ml-l {
  margin-left: 15px;
}

.mx-l {
  margin-left: 15px;
  margin-right: 15px;
}

.my-l {
  margin-bottom: 15px;
  margin-top: 15px;
}

.p-l {
  padding: 15px;
}

.pt-l {
  padding-top: 15px;
}

.pr-l {
  padding-right: 15px;
}

.pb-l {
  padding-bottom: 15px;
}

.pl-l {
  padding-left: 15px;
}

.px-l {
  padding-left: 15px;
  padding-right: 15px;
}

.py-l {
  padding-bottom: 15px;
  padding-top: 15px;
}

.spacer-l {
  spacer: 15px;
}

.m-xl {
  margin: 20px;
}

.mt-xl {
  margin-top: 20px;
}

.mr-xl {
  margin-right: 20px;
}

.mb-xl {
  margin-bottom: 20px;
}

.ml-xl {
  margin-left: 20px;
}

.mx-xl {
  margin-left: 20px;
  margin-right: 20px;
}

.my-xl {
  margin-bottom: 20px;
  margin-top: 20px;
}

.p-xl {
  padding: 20px;
}

.pt-xl {
  padding-top: 20px;
}

.pr-xl {
  padding-right: 20px;
}

.pb-xl {
  padding-bottom: 20px;
}

.pl-xl {
  padding-left: 20px;
}

.px-xl {
  padding-left: 20px;
  padding-right: 20px;
}

.py-xl {
  padding-bottom: 20px;
  padding-top: 20px;
}

.spacer-xl {
  spacer: 20px;
}

.m-xxl {
  margin: 36px;
}

.mt-xxl {
  margin-top: 36px;
}

.mr-xxl {
  margin-right: 36px;
}

.mb-xxl {
  margin-bottom: 36px;
}

.ml-xxl {
  margin-left: 36px;
}

.mx-xxl {
  margin-left: 36px;
  margin-right: 36px;
}

.my-xxl {
  margin-bottom: 36px;
  margin-top: 36px;
}

.p-xxl {
  padding: 36px;
}

.pt-xxl {
  padding-top: 36px;
}

.pr-xxl {
  padding-right: 36px;
}

.pb-xxl {
  padding-bottom: 36px;
}

.pl-xxl {
  padding-left: 36px;
}

.px-xxl {
  padding-left: 36px;
  padding-right: 36px;
}

.py-xxl {
  padding-bottom: 36px;
  padding-top: 36px;
}

.spacer-xxl {
  spacer: 36px;
}

.m-xxxl {
  margin: 112px;
}

.mt-xxxl {
  margin-top: 112px;
}

.mr-xxxl {
  margin-right: 112px;
}

.mb-xxxl {
  margin-bottom: 112px;
}

.ml-xxxl {
  margin-left: 112px;
}

.mx-xxxl {
  margin-left: 112px;
  margin-right: 112px;
}

.my-xxxl {
  margin-bottom: 112px;
  margin-top: 112px;
}

.p-xxxl {
  padding: 112px;
}

.pt-xxxl {
  padding-top: 112px;
}

.pr-xxxl {
  padding-right: 112px;
}

.pb-xxxl {
  padding-bottom: 112px;
}

.pl-xxxl {
  padding-left: 112px;
}

.px-xxxl {
  padding-left: 112px;
  padding-right: 112px;
}

.py-xxxl {
  padding-bottom: 112px;
  padding-top: 112px;
}

.spacer-xxxl {
  spacer: 112px;
}

.color-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-white-g {
  background: #FFFFFF;
}

.fill-white svg {
  color: #FFFFFF;
}

.color-dark-white {
  color: #F8F8F8;
}

.bg-dark-white {
  background-color: #F8F8F8;
}

.bg-dark-white-g {
  background: #F8F8F8;
}

.fill-dark-white svg {
  color: #F8F8F8;
}

.color-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.bg-black-g {
  background: #000000;
}

.fill-black svg {
  color: #000000;
}

.color-gray {
  color: #BFBFBF;
}

.bg-gray {
  background-color: #BFBFBF;
}

.bg-gray-g {
  background: #BFBFBF;
}

.fill-gray svg {
  color: #BFBFBF;
}

.color-second-gray {
  color: #F5F6F6;
}

.bg-second-gray {
  background-color: #F5F6F6;
}

.bg-second-gray-g {
  background: #F5F6F6;
}

.fill-second-gray svg {
  color: #F5F6F6;
}

.color-second-black {
  color: #48455C;
}

.bg-second-black {
  background-color: #48455C;
}

.bg-second-black-g {
  background: #48455C;
}

.fill-second-black svg {
  color: #48455C;
}

.color-primary {
  color: #6297FF;
}

.bg-primary {
  background-color: #6297FF;
}

.bg-primary-g {
  background: #6297FF;
}

.fill-primary svg {
  color: #6297FF;
}

.color-secondary {
  color: #434242;
}

.bg-secondary {
  background-color: #434242;
}

.bg-secondary-g {
  background: #434242;
}

.fill-secondary svg {
  color: #434242;
}

.color-error {
  color: #FF6464;
}

.bg-error {
  background-color: #FF6464;
}

.bg-error-g {
  background: #FF6464;
}

.fill-error svg {
  color: #FF6464;
}

.color-success {
  color: #A6D283;
}

.bg-success {
  background-color: #A6D283;
}

.bg-success-g {
  background: #A6D283;
}

.fill-success svg {
  color: #A6D283;
}

.color-disabled {
  color: #F2F2F2;
}

.bg-disabled {
  background-color: #F2F2F2;
}

.bg-disabled-g {
  background: #F2F2F2;
}

.fill-disabled svg {
  color: #F2F2F2;
}

.color-text {
  color: #535353;
}

.bg-text {
  background-color: #535353;
}

.bg-text-g {
  background: #535353;
}

.fill-text svg {
  color: #535353;
}

.color-sub-text {
  color: #D4D8D9;
}

.bg-sub-text {
  background-color: #D4D8D9;
}

.bg-sub-text-g {
  background: #D4D8D9;
}

.fill-sub-text svg {
  color: #D4D8D9;
}

.color-night {
  color: #5E5E5E;
}

.bg-night {
  background-color: #5E5E5E;
}

.bg-night-g {
  background: #5E5E5E;
}

.fill-night svg {
  color: #5E5E5E;
}

.color-off-white {
  color: #F0F5FE;
}

.bg-off-white {
  background-color: #F0F5FE;
}

.bg-off-white-g {
  background: #F0F5FE;
}

.fill-off-white svg {
  color: #F0F5FE;
}

.color-gradient {
  color: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);
}

.bg-gradient {
  background-color: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);
}

.bg-gradient-g {
  background: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);
}

.fill-gradient svg {
  color: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);
}

.color-green-gradient {
  color: linear-gradient(267deg, #B3EF85 9.37%, #74A350 128.25%);
}

.bg-green-gradient {
  background-color: linear-gradient(267deg, #B3EF85 9.37%, #74A350 128.25%);
}

.bg-green-gradient-g {
  background: linear-gradient(267deg, #B3EF85 9.37%, #74A350 128.25%);
}

.fill-green-gradient svg {
  color: linear-gradient(267deg, #B3EF85 9.37%, #74A350 128.25%);
}

.fs-0 {
  font-size: 0;
}

.fs-xxl {
  font-size: 60px;
}

.fs-l {
  font-size: calc(24px + 0.625vw);
}

.fs-m {
  font-size: calc(18px + 0.9375vw);
}

.fs-s {
  font-size: calc(16px + 0.8333333333vw);
}

.fs-xs {
  font-size: calc(14px + 0.2083333333vw);
}

.fs-xxs {
  font-size: calc(12px + 0.3125vw);
}

.fs-xss {
  font-size: calc(10px + 0.4166666667vw);
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 50ms;
    animation-iteration-count: 1;
    scroll-behavior: auto;
    transition-duration: 50ms;
  }
}
.header__logo-and-basket-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__basket {
  width: 34px;
  height: 34px;
  background-image: url("../image/shopping-bag.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.header__breadcrumbs {
  display: flex;
  align-items: center;
}
.header__breadcrumbs > ul {
  width: 100%;
}
.header__breadcrumbs > ul > li {
  display: inline-block;
  color: #BFBFBF;
  font-size: 14px;
  margin-left: 15px;
}
.header__breadcrumbs > ul > li::after {
  content: ".";
  margin-left: 15px;
}
.header__breadcrumbs > ul > li:last-child::after {
  content: unset;
}
.header__page-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-image: url("../image/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1200px) {
  .header {
    margin-top: 28px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
  }
  .header__logo-and-basket-wrapper, .header .nav {
    display: contents;
  }
  .header .logo {
    grid-row: 1;
    grid-column: 1;
    align-self: flex-start;
  }
  .header__basket, .header .nav__search-with-filter {
    justify-self: end;
    grid-row: 1;
  }
  .header__basket {
    grid-column: 3/4;
  }
  .header .nav__search-wrapper {
    width: 400px;
    margin-left: auto;
  }
  .header .nav__search-with-filter {
    grid-column: 2/3;
  }
  .header__breadcrumbs {
    grid-column: 1/2;
    grid-row: 1;
    align-self: flex-end;
    margin-top: 2rem;
  }
  .header .nav__links-wrapper {
    justify-content: end;
    grid-column: 1/4;
    grid-row: 2;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.main__feedback-sections {
  padding-bottom: 58px;
}
.main__faq-wrapper {
  margin: 0 7px;
}
.main__communication-blocks-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  margin-top: 34px;
  padding-left: 12px;
  padding-right: 20px;
}
.main__chat-wrapper {
  position: fixed;
  right: 16px;
  bottom: 90px;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}
.main__block-title {
  margin: 26px 16px 11px 16px;
}
.main__title-wrapper {
  margin: 13px 15px 0 15px;
  color: #3075FC;
  text-transform: lowercase;
}
.main__title, .main__subtitle {
  text-transform: uppercase;
}
.main__block-title-with-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__block-title-with-filter-buttons .block-title, .main__block-title-with-filter-buttons .filter-buttons {
  width: 100%;
}
.main__block-title-with-filter-buttons .filter-buttons {
  margin: 0;
  margin-top: 17px;
}
.main__communication-block-and-interview-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  flex: 1;
}

@media (min-width: 1200px) {
  .main__feedback-sections {
    background-color: unset !important;
  }
  .main__communication-blocks-wrapper, .main__communication-block-and-interview-card-wrapper {
    gap: 30px;
  }
  .main__communication-blocks-wrapper {
    margin: 0 100px;
    padding: 0;
  }
  .main__block-title-with-filter-buttons {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .main__block-title-with-filter-buttons .block-title, .main__block-title-with-filter-buttons .filter-buttons {
    width: auto;
  }
  .main__block-title-with-filter-buttons .block-title__more-link {
    display: none;
  }
  .main__communication-block-and-interview-card-wrapper > .communication-block {
    min-height: 314px;
  }
}
.footer {
  width: 100%;
  display: inline-block;
}
.footer__logo {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 58px;
}
.footer__info-blocks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 24px 0 29px;
}
.footer__copyright-rights {
  display: flex;
  align-items: center;
  min-height: 28px;
  padding-left: 32px;
  color: #A5A3AF;
  background-color: #48455C;
}

@media (min-width: 1200px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
  }
  .footer__logo {
    margin: 50px 0 50px 100px;
  }
  .footer__info-blocks-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 50px 100px 50px 0;
  }
  .footer__info-blocks-wrapper .info-block--stretched {
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    margin: 0;
  }
  .footer__copyright-rights {
    width: 100%;
    padding: 0 100px;
  }
}
.slider {
  width: 100%;
  box-sizing: border-box;
}
.slider__slide {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 2px;
  overflow: hidden;
}
.slider__slide:last-of-type {
  padding-right: 0;
}
.slider__pagination {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  z-index: 1;
  height: 2px;
}
.slider__pagination > .slider__pagination-bullet {
  padding: 10px 0;
}
.slider__pagination > .slider__pagination-bullet::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  border-radius: 40px;
  background-color: #BFBFBF;
}
.slider__pagination > .slider__pagination-bullet-active::after {
  background-color: #48455C;
}
.slider__pagination--bottom-center {
  justify-content: center;
  right: 0;
  bottom: 0;
  left: 0;
}
.slider__pagination--top-right {
  width: auto;
  top: 21px;
  right: 30px;
  left: auto;
}
.slider__info-slide {
  width: calc(290px + 447.1 * (100vw - 430px) / 1920);
  min-height: 200px;
  box-sizing: border-box;
  margin-right: 10px;
  padding-top: 25px;
  padding-left: 17px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.slider__info-slide-discount {
  margin-bottom: 46px;
  color: #A230FC;
  font-size: 66px;
  font-weight: 900;
}
.slider__info-slide-discount::after {
  content: "%";
}
.slider__info-slide--with-bg {
  background: center/contain no-repeat url("../image/slider-img/pencels.png");
}
.slider__info-slide:last-of-type {
  margin-right: 0;
}
.slider__button {
  width: 44px;
  height: 44px;
}
.slider__button.swiper-button-next {
  text-align: right;
}
.slider__button::after {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.slider--viewed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 430px;
  height: 100vh;
  min-height: 100%;
  margin: 0 !important;
  padding: 50px 0;
  z-index: 10;
}
.slider--viewed > .swiper-slide {
  display: flex;
  justify-content: center;
}
.slider--viewed > .badge, .slider--viewed > .product-preview__image-link {
  display: none;
}
.slider--viewed::before, .slider--viewed::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #000000;
}
.slider--viewed::before {
  top: 0;
}
.slider--viewed::after {
  bottom: 0;
}

@media (min-width: 768px) {
  .slider__info-slide {
    width: calc(290px + 13.6979166667vw);
    min-height: 294px;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .slider__pagination {
    gap: 12px;
    height: 5px;
  }
  .slider__pagination > .slider__pagination-bullet::after {
    width: 25px;
    height: 5px;
  }
  .slider__pagination--bottom-center {
    justify-content: center;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.banner {
  display: flex;
  position: relative;
}
.banner__bear {
  position: absolute;
  right: 10px;
  top: -26px;
  width: 110px;
  height: 99px;
  background: center/contain no-repeat url("../image/ice-bear.png");
}
.banner__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}
.banner__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.banner__title {
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
}
.banner__block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 24px 16px 0 20px;
  padding-bottom: 13px;
}
.banner__logo-and-link-wrapper {
  display: flex;
  align-items: center;
}
.banner__brand-logo {
  max-width: 100px;
  max-height: 100px;
}
.banner__brand-link {
  display: inline-block;
  margin-left: 16px;
}
.banner__brand-name {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
}
.banner__brand-rating {
  display: flex;
  align-items: center;
}
.banner__brand-rating::before {
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 7px;
  background: center/contain no-repeat url("../image/white-star.svg");
}
.banner__more-link {
  margin-bottom: 40px;
}
.banner__more-link::after {
  transform: rotate(90deg);
}
.banner__link {
  display: block;
  margin-top: auto;
  padding-top: 20px;
  text-decoration: underline;
}
.banner__brand-name::after, .banner__more-link::after, .banner__link::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 5px;
  margin-top: 4px;
  margin-left: 6px;
  background: center/contain no-repeat url("../image/arrow3.svg");
}
.banner__btn {
  padding: 13px 39px;
  border: 1.5px solid #FFFFFF;
  border-radius: 6px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .banner__bear {
    top: -52px;
    right: 65px;
    width: 162px;
    height: 176px;
  }
  .banner__btn {
    padding: 20px 98px;
  }
  .banner__wrapper {
    padding: 50px !important;
  }
  .banner__brand-logo {
    width: 143px;
  }
  .banner__header {
    margin-bottom: 54px;
  }
  .banner__link {
    margin-top: 37px;
  }
  .banner__brand-rating {
    font-size: 24px;
  }
  .banner__brand-rating::before {
    width: 38px;
    height: 38px;
  }
}
.top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 62px;
  text-align: center;
}
.top-block__highlighted-text {
  display: contents;
}
.top-block__text {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 5px;
}
.top-block__text::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 7px;
  background: center/cover no-repeat url("../image/arrow.svg");
}

@media (min-width: 768px) {
  .top-block__text {
    margin: auto;
  }
  .top-block__text::after {
    width: 34px;
    height: 34px;
  }
}
@media (min-width: 992px) {
  .top-block__text {
    margin: auto;
  }
  .top-block__text::after {
    display: none;
  }
  .top-block__text::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 16px;
    background: center/cover no-repeat url("../image/arrow.svg");
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  width: calc(200px + 306 * (100vw - 430px) / 1920);
  height: calc(200px + 306 * (100vw - 430px) / 1920);
}
.card__img-wrapper--round {
  border-radius: 10px;
}
.card__img-wrapper--mini-img {
  width: 100%;
  height: auto;
  min-width: 122.25px;
  max-width: 100%;
}
.card__img-wrapper--mini-img-with-border {
  border: 2px solid #3075FC;
}
.card__img-wrapper--supa-mini-img {
  width: 80px;
}
.card__img-wrapper--mega-img {
  height: 100%;
  width: 100%;
  min-height: 415px;
}
.card__img-wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__price::after {
  content: " ₽";
  position: relative;
}
.card__description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 11px;
}
.card__more-btn {
  position: absolute;
  top: 12px;
  right: 7px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 10px 10px 20px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 40px;
  background-color: #A230FC;
}
.card__more-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: center/contain no-repeat url("../image/arrow.svg");
}
.card__mini-btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__score {
  display: flex;
  align-items: center;
  color: #999999;
  font-size: 12px;
}
.card__score::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  background: center/contain no-repeat url("../image/star.svg");
}
.card--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: 100%;
  padding: 10px;
  color: #48455C;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 10px solid #FFF;
  background-color: #F5F5F5;
}

@media (min-width: 1200px) {
  .card--empty {
    max-width: 387px;
    font-size: 20px;
  }
  .card__img-wrapper--supa-mini-img {
    width: 118px;
    height: 118px;
  }
}
.product-card__img-wrapper--kit-img {
  width: calc(250px + 268.6 * (100vw - 430px) / 1920);
  height: calc(250px + 268.6 * (100vw - 430px) / 1920);
}
.product-card__img-wrapper--new-product-img {
  width: calc(330px + 379.1 * (100vw - 430px) / 1920);
  height: 320px;
}
.product-card__price {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 12px 1px 12px;
  text-align: right;
  font-size: calc(16px + 13.6 * (100vw - 430px) / 1920);
}
.product-card__price-old {
  display: block;
  text-decoration: line-through;
  color: #F91818;
  font-size: 12px;
  font-weight: 400;
}
.product-card__price--basket {
  position: static;
  padding: 0;
  padding-top: 3px;
  margin-bottom: 10px;
  text-align: left;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product-card__addBasket {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: #3075FC;
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 9px 0;
  padding-left: 11px;
  padding-right: 5px;
  width: 100%;
}
.product-card__addBasket--selected {
  background-color: #D9D9D9;
}
.product-card__addBasket svg {
  margin-left: auto;
}
.product-card__block--basket {
  width: 100%;
}
.product-card__buy-btn {
  display: block;
  margin-top: 19px;
  padding-top: 17px;
  padding-bottom: 16px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
  background-color: #3075FC;
}
.product-card__sale {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 30px;
  background: #3075FC;
}
.product-card--mark-favorite .card__img-wrapper::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 11px;
  right: unset;
  min-width: 34px;
  min-height: 22px;
  border-radius: 60px;
}
.product-card--mark-favorite .card__img-wrapper::after {
  top: 10px;
  right: 9px;
  left: unset;
  min-width: 16px;
  min-height: 16px;
  background: center/cover no-repeat url("../image/heart.svg");
}

@media (min-width: 768px) {
  .product-card__img-wrapper--kit-img {
    width: calc(250px + 8.2291666667vw);
    height: calc(250px + 8.2291666667vw);
  }
  .product-card__img-wrapper--new-product-img {
    width: calc(330px + 11.6145833333vw);
  }
  .product-card__price {
    font-size: calc(16px + 8 * (100vw - 430px) / 1920);
  }
  .product-card__price-old {
    font-size: calc(12px + 6 * (100vw - 430px) / 1920);
  }
}
.blog-card__img-wrapper--blog-img {
  width: calc(280px + 464.1 * (100vw - 430px) / 1920);
  height: calc(180px + 411.4 * (100vw - 430px) / 1920);
}

@media (min-width: 768px) {
  .blog-card__img-wrapper--blog-img {
    width: calc(280px + 14.21875vw);
    height: calc(180px + 12.6041666667vw);
  }
}
.faq-wrapper {
  padding-top: 19px;
  text-align: left;
}
.faq-wrapper__title {
  margin-left: 8px;
  margin-bottom: 18px;
}
.faq-wrapper__accordion {
  margin-bottom: 10px;
}
.faq-wrapper__accordion--open .faq-wrapper__accordion-condition {
  background-image: url("../image/minus.svg");
}
.faq-wrapper__accordion--open .faq-wrapper__accordion-content {
  margin-top: 23px;
}
.faq-wrapper__accordion:last-of-type {
  margin-bottom: 0;
}
.faq-wrapper__accordion-summary-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  padding: 9px 13.5px 9px 9px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: left;
}
.faq-wrapper__accordion-condition {
  position: relative;
  width: auto;
  min-width: 15px;
  height: 15px;
  border-radius: 3px;
  background-image: url("../image/plus.svg");
}
.faq-wrapper__accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 9px;
  line-height: 24px;
  font-weight: 300;
  transition: 0.25s ease-in-out;
}
.faq-wrapper__megaphone {
  display: unset;
}

@media (max-width: 1200px) {
  .faq-wrapper {
    display: grid;
    gap: 0 calc(48px + 340 * (100vw - 1200px) / 1920);
  }
}
@media (min-width: 1200px) {
  .faq-wrapper {
    display: grid;
    padding: 50px 71px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 33px;
    background-color: #F5F6F6;
  }
  .faq-wrapper__title {
    margin-bottom: 32px;
  }
  .faq-wrapper__megaphone {
    width: 475px;
    height: 475px;
    grid-column: 2/3;
    background: center url("../image/megaphone.png") no-repeat;
  }
}
@media (min-width: 1440px) {
  .faq-wrapper {
    gap: 0 calc(48px + 10.4166666667vw);
  }
}
.communication-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 23px 24px 15px 24px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.communication-block__title {
  font-size: calc(18px + 0.9375vw);
  font-weight: 800;
  text-transform: uppercase;
}
.communication-block__sub-title, .communication-block__text {
  margin-top: 10px;
  font-weight: 500;
}
.communication-block__text, .communication-block__sub-text {
  margin-right: 40px;
}
.communication-block__sub-text {
  margin-top: 38px;
}
.communication-block__sub-text > a {
  text-decoration: underline;
}
.communication-block__btns-wrapper {
  margin-top: 73px;
  margin-left: -5px;
  margin-bottom: -5px;
  display: flex;
  gap: 43px;
}
.communication-block__btn {
  color: #FFFFFF;
  background-color: unset;
  font-size: calc(14px + 0.2083333333vw);
  font-weight: 600;
  text-transform: uppercase;
}
.communication-block__mail-input {
  width: 100%;
  margin-top: 19px;
  padding: 12px 17px;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
.communication-block--with-img {
  background: url("../image/help-support.png") no-repeat right 23px bottom 7px/128px, linear-gradient(257.17deg, #3075fc 6.89%, #a230fc 97.54%);
}
.communication-block--with-img > .communication-block__content-wrapper {
  min-width: 230px;
  max-width: calc(230px + 331.5 * (100vw - 430px) / 1920);
}

@media (min-width: 568px) {
  .communication-block--with-img {
    background-size: calc(128px + 5.2083333333vw), 100%;
  }
  .communication-block--with-img > .communication-block__content-wrapper {
    max-width: calc(230px + 10.15625vw);
  }
}
@media (min-width: 992px) {
  .communication-block {
    flex: 1;
  }
  .communication-block--with-img {
    background-size: calc(128px + 5.2083333333vw), 100%;
  }
}
@media (min-width: 1200px) {
  .communication-block {
    min-height: calc(200px + 12.1875vw);
    padding: 50px;
  }
  .communication-block__sub-text {
    margin-top: 12px;
  }
  .communication-block--with-img {
    background-position: right 50px bottom 36px, 0 0;
  }
}
@media (min-width: 1920px) {
  .communication-block {
    min-height: 434px;
  }
  .communication-block--with-img {
    background-size: 313px, 100%;
  }
}
.chat {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 102px;
  min-height: 49.5px;
  font-size: 18px;
  border-radius: 60px;
  box-shadow: 0px 6.0000271797px 21.0000953674px 0px rgba(0, 0, 0, 0.2509803922);
}
.chat__points {
  display: flex;
  gap: 4.5px;
  margin-top: 4px;
  margin-right: 16.5px;
}
.chat__point {
  width: 3px;
  height: 3px;
  border-radius: 100%;
}
.chat::after {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -5px;
  width: 12.11px;
  height: 12.11px;
  transform: rotate(45deg);
  background-color: #000000;
  border-radius: 1.5px;
}

@media (min-width: 568px) {
  .chat {
    display: inline-flex;
  }
}
.about-payment {
  padding: 0 25px;
  padding-top: 29px;
  padding-bottom: 51px;
  color: #48455C;
  background-color: #F0F5FE;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.about-payment--basket {
  padding-left: 0;
  padding-right: 0;
}
.about-payment--basket .about-payment__text,
.about-payment--basket .about-payment__cards-wrapper {
  padding-left: 21px;
}
.about-payment__title-wrapper {
  border-radius: 6px;
  background: #F0F5FE;
  box-shadow: 0px 4px 14px 0px rgba(48, 117, 252, 0.1);
  display: flex;
  align-items: center;
  padding: 17px 23px;
  margin-top: -50px;
  position: relative;
}
.about-payment__title-wrapper .about-payment__label {
  color: #3075FC;
  font-size: calc(14px + 17 * (100vw - 430px) / 1920);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  padding-left: 25px;
}
.about-payment__title-wrapper .about-payment__price {
  margin-left: auto;
  color: #3075FC;
  font-size: calc(14px + 37.4 * (100vw - 430px) / 1920);
  font-weight: 600;
}
.about-payment__title {
  display: flex;
  align-items: center;
  color: #3075FC;
  font-weight: 600;
  text-transform: uppercase;
}
.about-payment__title::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 11px;
  background: center/contain no-repeat url("../image/about-payment-logo.svg");
}
.about-payment__text {
  margin-top: 35px;
}
.about-payment__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 18px;
}
.about-payment__card {
  position: relative;
  min-width: 80px;
  min-height: 52px;
}
.about-payment__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #48455C;
}
.about-payment__card--selected {
  color: #3075FC;
}
.about-payment__card--selected::before {
  background-color: #3075FC;
}
.about-payment__anchor-link {
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: center url("../image/arrow-blue.svg") no-repeat;
}
.about-payment__radio {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .about-payment--hidden {
    margin-bottom: 43px;
    padding-bottom: 0;
    background-color: unset;
    box-shadow: none;
  }
  .about-payment--hidden .about-payment__anchor-link {
    transform: rotate(180deg);
  }
  .about-payment--hidden .about-payment__text {
    display: none;
  }
  .about-payment--hidden .about-payment__cards-wrapper {
    display: none;
  }
}
@media (min-width: 1200px) {
  .about-payment__title-wrapper {
    min-height: 110px;
    margin-top: -84px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .about-payment__title-wrapper .about-payment__label {
    font-size: calc(14px + 0.5208333333vw);
  }
  .about-payment__title-wrapper .about-payment__price {
    font-size: calc(14px + 1.1458333333vw);
  }
  .about-payment__title-wrapper--pe-none {
    pointer-events: none;
  }
  .about-payment__title {
    font-size: 36px;
  }
  .about-payment__title::before {
    width: 30px;
    height: 30px;
  }
  .about-payment__card > p {
    font-size: 24px;
  }
}
.block-title {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.block-title__more-link {
  display: inline-flex;
  align-items: center;
  font-size: calc(12px + 0.4166666667vw);
  font-weight: 800;
  color: #3075FC;
}
.block-title__more-link::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: center/contain no-repeat url("../image/arrow2.svg");
}

@media (max-width: 768px) {
  .block-title__more-link {
    font-size: calc(12px + 13.6 * (100vw - 430px) / 1920);
  }
}
.bottom-nav {
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: #FFF;
}
.bottom-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 0 10px;
}
.bottom-nav__link.active {
  color: #FFFFFF;
  background-color: #3075FC;
}
.bottom-nav__link--highlighted {
  color: #3075FC;
}
.bottom-nav__page-icon {
  min-height: 24px;
}
.bottom-nav__page-title {
  margin-top: 8px;
}
.bottom-nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  text-align: center;
}
.bottom-nav > ul li {
  flex: 1 1;
}

@media (min-width: 568px) {
  .bottom-nav {
    display: none;
  }
}
.badge {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 5%;
  right: 6%;
  z-index: 2;
  min-height: 22px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 40px;
}
.badge--mob-new-product, .badge--web-new-product {
  color: #3075FC;
  background-color: rgba(48, 117, 252, 0.2);
}
.badge--mob-new-product > .badge-icon, .badge--web-new-product > .badge-icon {
  background: center/cover url("../image/badges/new-product--icon.svg") no-repeat;
}
.badge--web-new-product {
  left: 6%;
  right: unset;
}
.badge--web-new-product::after {
  content: "Новинка";
  display: inline-block;
}
.badge--mob-discount, .badge--web-discount {
  color: #FB6949;
  background-color: rgba(251, 105, 73, 0.2);
}
.badge--mob-discount > .badge-icon, .badge--web-discount > .badge-icon {
  background: center/cover url("../image/badges/discount--icon.svg") no-repeat;
}
.badge--web-discount {
  left: 6%;
  right: unset;
}
.badge--web-discount::after {
  content: "Скидка";
  display: inline-block;
}
.badge--mob-free-shipping, .badge--web-free-shipping {
  color: #74A350;
  background-color: rgba(116, 163, 80, 0.2);
}
.badge--mob-free-shipping > .badge-icon, .badge--web-free-shipping > .badge-icon {
  background: center/cover url("../image/badges/free-shipping--icon.svg") no-repeat;
}
.badge--web-free-shipping {
  left: 6%;
  right: unset;
}
.badge--web-free-shipping::after {
  content: "Бесплатная доставка";
  display: inline-block;
}
.badge--mob-popular, .badge--web-popular {
  color: #A230FC;
  background-color: rgba(162, 48, 252, 0.2);
}
.badge--mob-popular > .badge-icon, .badge--web-popular > .badge-icon {
  background: center/cover url("../image/badges/popular--icon.svg") no-repeat;
}
.badge--web-popular {
  left: 6%;
  right: unset;
}
.badge--web-popular::after {
  content: "Популярный";
  display: inline-block;
}
.badge--mob-sales-leader, .badge--web-sales-leader {
  color: #F91818;
  background-color: rgba(249, 24, 24, 0.2);
}
.badge--mob-sales-leader > .badge-icon, .badge--web-sales-leader > .badge-icon {
  background: center/cover url("../image/badges/sales-leader--icon.svg") no-repeat;
}
.badge--web-sales-leader {
  left: 6%;
  right: unset;
}
.badge--web-sales-leader::after {
  content: "Лидер продаж";
  display: inline-block;
}
.badge--mob-premium, .badge--web-premium {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
}
.badge--mob-premium > .badge-icon, .badge--web-premium > .badge-icon {
  background: center/cover url("../image/badges/premium--icon.svg") no-repeat;
}
.badge--web-premium {
  left: 6%;
  right: unset;
}
.badge--web-premium::after {
  content: "Премиум";
  display: inline-block;
}
.badge--mob-finished-image, .badge--web-finished-image {
  color: #FFC657;
  background-color: rgba(255, 198, 87, 0.2);
}
.badge--mob-finished-image > .badge-icon, .badge--web-finished-image > .badge-icon {
  background: center/cover url("../image/badges/finished-image--icon.svg") no-repeat;
}
.badge--web-finished-image {
  left: 6%;
  right: unset;
}
.badge--web-finished-image::after {
  content: "Готовый образ";
  display: inline-block;
}
.badge > .badge-icon {
  width: 14px;
  height: 14px;
}

@media (min-width: 1200px) {
  .badge {
    padding: 10px 20px;
  }
  .badge > .badge-icon {
    width: 27px;
    height: 27px;
  }
}
.interview-card {
  padding: 22px 34px;
  border-radius: 10px;
  background: linear-gradient(267deg, #B3EF85 9.37%, #74A350 128.25%);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}
.interview-card__title {
  font-size: 18px;
}

@media (min-width: 1200px) {
  .interview-card__title {
    font-size: 28px;
    font-weight: 800;
  }
}
.info-block {
  display: inline-block;
  font-size: calc(10px + 0.4166666667vw);
  line-height: 24px;
}
.info-block__title {
  font-size: calc(14px + 0.2083333333vw);
  font-weight: 800;
  color: #48455C;
  text-transform: uppercase;
  line-height: normal;
}
.info-block__list {
  margin-top: 23px;
}
.info-block__decorated-link a {
  text-decoration: underline;
}
.info-block__img {
  min-width: 156px;
  min-height: 33.79px;
  background: center no-repeat url("../image/payment-methods.svg");
}
.info-block--stretched {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}