// Перечисление размеров шрифта
$font-sizes: (
    "0": 0,
    xxl: $xxl-fs,
    l: $l-fs,
    m: $m-fs,
    s: $s-fs,
    xs: $xs-fs,
    xxs: $xxs-fs,
    xss: $xss-fs,
);

// Перебираем перечисление
@each $size, $factor in $font-sizes {
    .fs-#{$size} {
        font-size: $factor;
    }
}

// Перебираем возможные значения свойства `font-weight`
@each $v in 300, 400, 500, 600, 700, 800, 900 {
    .fw-#{$v} {
        font-weight: $v;
    }
}