// Перечисление отступов
$spacers: (
    "0": 0,
    xs: $xs-spacer,
    s: $s-spacer,
    m: $m-spacer,
    l: $l-spacer,
    xl: $xl-spacer,
    xxl: $xxl-spacer,
    xxxl: $xxxl-spacer,
);

// Типы отступов
$types: (
    "m": "margin",
    "p": "padding",
);

// Стороны
$sides: (
    "": "",
    t: "-top",
    r: "-right",
    b: "-bottom",
    l: "-left",
);

// Перебираем перечисление
@each $key-spacer, $factor in $spacers {

    // Перебираем типы
    @each $key-type, $type in $types {

        // Перебираем стороны
        @each $key-side, $side in $sides {

            // Для всех и каждой стороны
            .#{$key-type}#{$key-side}-#{$key-spacer} {
                #{$type}#{$side}: $factor;
            }
        }

        // Для горизонтального отступа
        .#{$key-type}x-#{$key-spacer} {
            #{$type}-left: $factor;
            #{$type}-right: $factor;
        }

        // Для вертикального отступа
        .#{$key-type}y-#{$key-spacer} {
            #{$type}-bottom: $factor;
            #{$type}-top: $factor;
        }
    }

    // Дополнительно
    // Пространство между гридами или флексами
    .spacer-#{$key-spacer} {
        spacer: $factor;
    }
}