.about-payment {
    padding: 0 25px;
    padding-top: 29px;
    padding-bottom: 51px;

    color: $second-black;
    background-color: $off-white;

    &--basket {
       padding-left: 0;
       padding-right: 0; 

       .about-payment__text,
       .about-payment__cards-wrapper {
        padding-left: 21px;
       }
    }

    &__title-wrapper {
        border-radius: 6px;
        background: #F0F5FE;
        box-shadow: 0px 4px 14px 0px rgba(48, 117, 252, 0.10);
        display: flex;
        align-items: center;
        padding: 17px 23px;
        margin-top: -50px;
        position: relative;

        .about-payment__radio {
            display: none;
        }

        .about-payment__label {
            color: #3075FC;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            position: relative;
            padding-left: 25px;

            &::before {
                content: "";
                width: 17px;
                height: 17px;
                border-radius: 50%;
                border: 1px solid #3075FC;
                position: absolute;
                top: -3px;
                left: 0;
            }
        }

        .about-payment__radio:checked+.about-payment__label::after {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #48455C;
            position: absolute;
            top: 2px;
            left: 5px;
        }

        .about-payment__price {
            margin-left: auto;
        }
    }

    &__title {
        display: flex;
        align-items: center;

        color: #3075FC;
        font-weight: 600;
        text-transform: uppercase;

        &::before {
            content: "";

            display: inline-block;

            width: 12px;
            height: 12px;

            margin-right: 11px;

            background: center / contain no-repeat url("/assets/image/about-payment-logo.svg");
        }
    }

    &__text {
        margin-top: 35px;
    }

    &__cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        margin-top: 18px;
    }

    &__card {
        position: relative;

        min-width: 80px;
        min-height: 52px;

        &::before {
            content: "";

            position: absolute;
            bottom: 0;

            width: 100%;
            height: 4px;

            border-radius: 4px;
            background-color: #48455C;
        }

        &--selected {
            color: #3075FC;

            &::before {
                background-color: #3075FC;
            }
        }
    }
}