.banner {
    display: flex;
    position: relative;

    &__bear {
        position: absolute;
        right: 10px;
        top: -26px;

        width: 110px;
        height: 99px;

        background: center / contain no-repeat url("/assets/image/ice-bear.png");
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        width: 100%;

        box-sizing: border-box;
        border-radius: 10px;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        margin-bottom: 15px;
    }

    &__title {
        display: inline-block;

        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
    }

    &__block-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        margin: 24px 16px 0 20px;
        padding-bottom: 13px;
    }

    &__logo-and-link-wrapper {
        display: flex;
        align-items: center;
    }

    &__brand-logo {
        max-width: 100px;
        max-height: 100px;
    }

    &__brand-link {
        display: inline-block;

        margin-left: 16px;
    }

    &__brand-name {
        display: flex;
        align-items: center;

        margin-bottom: 5px;

        font-size: 16px;
    }

    &__brand-rating {
        display: flex;
        align-items: center;

        &::before {
            content: "";

            width: 14px;
            height: 14px;

            margin-right: 7px;

            background: center / contain no-repeat url("/assets/image/white-star.svg");
        }
    }

    &__more-link {
        margin-bottom: 40px;

        &::after {
            transform: rotate(90deg);
        }
    }

    &__link {
        display: block;
        margin-top: auto;
        padding-top: 20px;
        text-decoration: underline;
    }

    &__brand-name,
    &__more-link,
    &__link {

        &::after {
            content: "";

            display: inline-block;

            height: 10px;
            width: 5px;

            margin-top: 4px;
            margin-left: 6px;

            background: center / contain no-repeat url("/assets/image/arrow3.svg");
        }
    }

    &__btn {
        padding: 13px 39px;

        border: 1.5px solid $white;
        border-radius: 6px;

        text-transform: uppercase;
    }
}



@media (min-width: $wide-breakpoint) {
    .banner {

        &__bear {
            top: -52px;
            right: 65px;

            width: 162px;
            height: 176px;
        }

        &__btn {
            padding: 20px 98px;
        }

        &__wrapper {
            padding: 50px !important;
        }

        &__brand-logo {
            width: 143px;
        }

        &__header {
            margin-bottom: 54px;
        }

        &__link {
            margin-top: 37px;
        }

        &__brand-rating {
            font-size: 24px;

            &::before {
                width: 38px;
                height: 38px;
            }
        }
    }
}