.blog-card {

    &__img-wrapper {

        &--blog-img {
            width: calc(280px + (273 + 273 * 0.7) * ((100vw - 430px) / $hd-plus-width));
            height: calc(180px + (242 + 242 * 0.7) * ((100vw - 430px) / $hd-plus-width));
        }
    }
}

@media (min-width: $tablet-breakpoint) {
    .blog-card {

        &__img-wrapper {

            &--blog-img {
                width: calc(280px + 273 * (100vw / $hd-plus-width));
                height: calc(180px + 242 * (100vw / $hd-plus-width));
            }
        }
    }
}