.block-title {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    &__more-link {
        display: inline-flex;
        align-items: center;

        font-size: 12px;
        font-weight: 800;

        color: #3075FC;

        &::after {
            content: "";
            display: block;

            width: 18px;
            height: 18px;

            background: center / contain no-repeat url("/assets/image/arrow2.svg");
        }
    }
}