.block-title {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    &__more-link {
        display: inline-flex;
        align-items: center;

        font-size: calc(12px + 8 * (100vw / $hd-plus-width));
        font-weight: 800;

        color: #3075FC;

        &::after {
            content: "";
            display: block;

            width: 18px;
            height: 18px;

            background: center / contain no-repeat url("../image/arrow2.svg");
        }
    }
}



@media (max-width: $tablet-breakpoint) {
    .block-title {
        &__more-link {
            font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 430px) / $hd-plus-width));
        }
    }
}