.bottom-nav {
    display: flex;

    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 9;

    background: #FFF;

    &__link {
        display: block;

        width: 100%;
        height: 100%;

        padding: 15px 0 10px;

        &.active {
            color: $white;
            background-color: #3075FC;
        }

        &--highlighted {
            color: #3075FC;
        }
    }

    &__page-icon {
        min-height: 24px;
    }

    &__page-title {
        margin-top: 8px;
    }

    &>ul {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        width: 100%;

        text-align: center;

        & li {
            flex: 1 1;
        }
    }
}



@media (min-width: $mobile-breakpoint) {
    .bottom-nav {
        display: none;
    }
}