.card {
    display: flex;
    flex-direction: column;
    position: relative;

    &__img-wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        width: calc(200px + (180 + 180 * 0.7) * ((100vw - 430px) / $hd-plus-width));
        height: calc(200px + (180 + 180 * 0.7) * ((100vw - 430px) / $hd-plus-width));

        &--round {
            border-radius: 10px;
        }

        &--mini-img {
            width: 100%;
            height: auto;
            min-width: 122.25px;
            max-width: 100%;

            &-with-border {
                border: 2px solid #3075FC;
            }
        }

        &--supa-mini-img {
            width: 80px;
        }

        &--mega-img {
            height: 100%;
            width: 100%;
            min-height: 415px;
        }

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__price {

        &::after {
            content: " ₽";
            position: relative;
        }
    }

    &__description-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 11px;
    }

    &__more-btn {
        position: absolute;
        top: 12px;
        right: 7px;

        display: flex;
        align-items: center;
        gap: 50px;

        padding: 10px 10px 10px 20px;

        color: $white;
        font-weight: 700;
        text-transform: uppercase;

        border-radius: 40px;
        background-color: #A230FC;

        &::after {
            content: "";

            display: inline-block;

            width: 24px;
            height: 24px;

            background: center / contain no-repeat url("../image/arrow.svg");
        }
    }

    &__mini-btns-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__score {
        display: flex;
        align-items: center;

        color: #999999;
        font-size: 12px;

        &::after {
            content: "";

            display: inline-block;

            width: 14px;
            height: 14px;

            margin-left: 6px;

            background: center / contain no-repeat url("../image/star.svg");
        }
    }

    &--empty {
        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 200px;
        height: 100%;

        padding: 10px;

        color: #48455C;

        text-align: center;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;

        border: 10px solid #FFF;
        background-color: #F5F5F5;
    }
}



// @media (min-width: $tablet-breakpoint) {
//     .card {

//         &__img-wrapper,
//         &__img-wrapper--mini-img {
//             width: calc(200px + 180 * (100vw / $hd-plus-width));
//             height: calc(200px + 180 * (100vw / $hd-plus-width));
//         }
//     }
// }

@media (min-width: $wide-breakpoint) {
    .card {

        &--empty {
            max-width: 387px;

            font-size: 20px;
        }

        &__img-wrapper {

            &--supa-mini-img {
                width: 118px;
                height: 118px;
            }
        }
    }
}