.chat {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: 102px;
    min-height: 49.5px;

    border-radius: 60px;
    box-shadow: 0px 6.000027179718018px 21.00009536743164px 0px #00000040;

    &__points {
        display: flex;
        gap: 4.5px;

        margin-top: 4px;
        margin-right: 16.5px;
    }

    &__point {
        width: 3px;
        height: 3px;

        border-radius: 100%;
    }

    &::after {
        content: "";

        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: calc(-10px / 2);

        width: 12.11px;
        height: 12.11px;

        transform: rotate(45deg);

        background-color: $black;
        border-radius: 1.5px;
    }
}