.communication-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    width: 100%;
    min-height: 200px;

    padding: 23px 24px 15px 24px;

    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px 0px #0000001A;

    &__title {
        font-size: $m-fs;
        font-weight: 800;
        text-transform: uppercase;
    }

    &__sub-title,
    &__text {
        margin-top: 10px;
        font-weight: 500;
    }

    &__text,
    &__sub-text {
        margin-right: 40px;
    }

    &__sub-text {
        margin-top: 38px;

        &>a {
            text-decoration: underline;
        }
    }

    &__btns-wrapper {
        margin-top: 73px;
        margin-left: -$s-spacer;
        margin-bottom: -$s-spacer;

        display: flex;
        gap: 43px;
    }

    &__btn {
        color: $white;
        background-color: unset;

        font-size: $xs-fs;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__mail-input {
        width: 100%;

        margin-top: 19px;
        padding: 12px 17px;

        border-radius: 40px;
        box-shadow: 0px 4px 4px 0px #0000000D;
    }

    &--with-img {
        background: url("/assets/image/help-support.png") no-repeat right 23px bottom 7px / 128px, linear-gradient(257.17deg, #3075fc 6.89%, #a230fc 97.54%);

        &>.communication-block__content-wrapper {
            min-width: 230px;
            max-width: calc(230px + (195 + 195 * 0.7) * ((100vw - 430px) / $hd-plus-width));
        }
    }
}


@media (min-width: $mobile-breakpoint) {
    .communication-block {

        &--with-img {
            background-size: calc(128px + 100 * (100vw / $hd-plus-width)), 100%;

            &>.communication-block__content-wrapper {
                max-width: calc(230px + 195 * (100vw / $hd-plus-width));
            }
        }
    }
}

@media (min-width: $desktop-breakpoint) {
    .communication-block {
        flex: 1;

        &--with-img {
            background-size: calc(128px + 100 * (100vw / $hd-plus-width)), 100%;
        }
    }
}

@media (min-width: $wide-breakpoint) {
    .communication-block {
        min-height: calc(200px + 234 * (100vw / $hd-plus-width));

        padding: 50px;

        &__sub-text {
            margin-top: 12px;
        }

        &--with-img {
            background-position: right 50px bottom 36px, 0 0;
        }
    }
}

@media (min-width: $hd-plus-breakpoint) {
    .communication-block {
        min-height: 434px;

        &--with-img {
            background-size: 313px, 100%;
        }
    }
}