.communication-block {
    position: relative;

    width: 100%;
    min-height: 200px;

    padding: 23px 24px 15px 24px;

    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px 0px #0000001A;

    &__title {
        font-size: $m-fs;
        font-weight: 800;
        text-transform: uppercase;
    }

    &__sub-title,
    &__text {
        margin-top: 10px;
        font-weight: 500;
    }

    &__sub-title {
        margin-right: 130px;
    }

    &__text,
    &__sub-text {
        margin-right: 40px;
    }

    &__sub-text {
        margin-top: 38px;
    }

    &__btns-wrapper {
        margin-top: 73px;
        margin-left: -$s-spacer;
        margin-bottom: -$s-spacer;

        display: flex;
        gap: 43px;
    }

    &__btn {
        color: $white;
        background-color: unset;

        font-size: $xs-fs;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__mail-input {
        width: 100%;

        margin-top: 19px;
        padding: 12px 17px;

        border-radius: 40px;
        box-shadow: 0px 4px 4px 0px #0000000D;
    }

    &--with-img {
        background: url("/assets/image/help-support.png") no-repeat right 23px bottom 7px / 128px 128px, linear-gradient(257.17deg, #3075fc 6.89%, #a230fc 97.54%);
    }
}



@media only screen and (min-width: $tablet) {
    .communication-block {
        flex: 1;
    }
}