.faq-wrapper {
    padding-top: 19px;
    text-align: left;

    &__title {
        margin-left: 8px;
        margin-bottom: 18px;
    }

    &__accordion {
        margin-bottom: 10px;

        &--open &-condition {
            background-image: url("../image/minus.svg");
        }

        &--open &-content {
            margin-top: 23px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__accordion-summary-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        min-height: 50px;
        padding: 9px 13.5px 9px 9px;

        cursor: pointer;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: left;
    }

    &__accordion-condition {
        position: relative;

        width: auto;
        min-width: 15px;
        height: 15px;

        border-radius: 3px;
        background-image: url("../image/plus.svg");
    }

    &__accordion-content {
        max-height: 0;
        overflow: hidden;

        padding: 0 9px;

        line-height: 24px;
        font-weight: 300;

        transition: 0.25s ease-in-out;
    }

    &__megaphone {
        display: unset;
    }
}



@media (max-width: $wide-breakpoint) {
    .faq-wrapper {
        display: grid;
        gap: 0 calc(48px + (200 + 200 * 0.7) * ((100vw - $wide-breakpoint) / $hd-plus-width));
    }
}

@media (min-width: $wide-breakpoint) {
    .faq-wrapper {
        display: grid;

        padding: 50px 71px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 33px;

        background-color: $second-gray;

        &__title {
            margin-bottom: 32px;
        }

        &__megaphone {
            width: 475px;
            height: 475px;

            grid-column: 2 / 3;

            background: center url("../image/megaphone.png") no-repeat;
        }
    }
}

@media (min-width: $hd-breakpoint) {
    .faq-wrapper {
        gap: 0 calc(48px + 200 * (100vw / $hd-plus-width));
    }
}