.header {

    &__logo-and-basket-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__basket {
        width: 34px;
        height: 34px;

        background-image: url("../image/shopping-bag.svg");
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 10px;
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;

        &>ul {
            width: 100%;

            &>li {
                display: inline-block;

                color: $gray;
                font-size: 14px;
                margin-left: $l-spacer;

                &::after {
                    content: ".";
                    margin-left: 15px;
                }

                &:last-child::after {
                    content: unset;
                }
            }
        }
    }

    &__page-icon {
        display: inline-block;

        width: 24px;
        height: 24px;

        border-radius: 5px;

        background-image: url("../image/home.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}



@media (min-width: $wide-breakpoint) {
    .header {
        margin-top: 28px;
        margin-left: 100px;
        margin-right: 100px;

        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr auto;

        gap: 10px;

        &__logo-and-basket-wrapper,
        & .nav {
            display: contents;
        }

        & .logo {
            grid-row: 1;
            grid-column: 1;
            align-self: flex-start;
        }

        &__basket,
        & .nav__search-with-filter {
            justify-self: end;
            grid-row: 1;
        }

        &__basket {
            grid-column: 3 / 4;
        }

        & .nav__search-wrapper {
            width: 400px;
            margin-left: auto;
        }

        & .nav__search-with-filter {
            grid-column: 2 / 3;
        }

        &__breadcrumbs {
            grid-column: 1/2;
            grid-row: 1;
            align-self: flex-end;

            margin-top: 2rem;
        }

        & .nav__links-wrapper {
            justify-content: end;
            grid-column: 1 / 4;
            grid-row: 2;
            column-gap: 30px;
        }
    }
}