.info-block {
    display: inline-block;

    font-size: $xss-fs;
    line-height: 24px;

    &__title {
        font-size: $xs-fs;
        font-weight: 800;

        color: $second-black;
        text-transform: uppercase;
        line-height: normal;
    }

    &__list {
        margin-top: 23px;
    }

    &__decorated-link a {
        text-decoration: underline;
    }

    &__img {
        min-width: 156px;
        min-height: 33.79px;

        background: center no-repeat url("/assets/image/payment-methods.svg");
    }

    &--stretched {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-top: 45px;
    }
}