.interview-card {
    position: relative;

    padding: 22px 34px;

    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.10);

    &__title {
        font-size: 18px;
        font-weight: 800;

        margin-bottom: 10px;
    }

    &::after {
        content: "";

        width: 95px;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;

        background: top/cover url("../image/ice-bear.png") no-repeat;
    }
}



@media (min-width: $wide-breakpoint) {
    .interview-card {

        &__title {
            font-size: 28px;
        }
    }
}