.main {

    &__feedback-sections {
        padding-bottom: 58px;
    }

    &__faq-wrapper {
        margin: 0 7px;
    }

    &__communication-blocks-wrapper {
        margin-top: 34px;

        padding-left: 12px;
        padding-right: 20px;
    }

    &__chat-wrapper {
        position: fixed;
        right: 15px;
        bottom: 7px;

        z-index: 1;

        display: flex;
        justify-content: flex-end;
    }

    &__block-title {
        margin: 26px 16px 11px 16px;
    }
}