.main {

    &__feedback-sections {
        padding-bottom: 58px;
    }

    &__communication-blocks-wrapper {
        padding-left: 12px;
        padding-right: 20px;
    }

    &__chat-wrapper {
        display: flex;
        justify-content: flex-end;

        margin-top: 31px;
    }
}