.product-card {

    &__img-wrapper {

        &--kit-img {
            width: calc(250px + (158 + 158 * 0.7) * ((100vw - 430px) / $hd-plus-width));
            height: calc(250px + (158 + 158 * 0.7) * ((100vw - 430px) / $hd-plus-width));
        }

        &--new-product-img {
            width: calc(330px + (223 + 223 * 0.7) * ((100vw - 430px) / $hd-plus-width));
            height: 320px;
        }
    }

    &__price {
        position: absolute;
        bottom: 0;
        right: 0;

        padding: 5px 12px 1px 12px;

        text-align: right;
        font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 430px) / $hd-plus-width));

        &-old {
            display: block;

            text-decoration: line-through;

            color: #F91818;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__price--basket {
        position: static;
        padding: 0;
        padding-top: 3px;
        margin-bottom: 10px;
        text-align: left;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__addBasket {
        display: flex;
        align-items: center;
        border-radius: 6px;
        background: #3075FC;
        color: #FFF;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        padding: 9px 0;
        padding-left: 11px;
        padding-right: 5px;
        width: 100%;

        &--selected {
            background-color: #D9D9D9;
        }

        svg {
            margin-left: auto;
        }
    }

    &__block--basket {
        width: 100%;
    }

    &__buy-btn {
        display: block;

        margin-top: 19px;
        padding-top: 17px;
        padding-bottom: 16px;

        color: $white;
        text-align: center;
        text-transform: uppercase;

        border-radius: 6px;
        background-color: #3075FC;
    }

    &__sale {
        display: inline-block;

        padding: 4px 10px;

        border-radius: 30px;
        background: #3075FC;
    }

    &--mark-favorite {
        .card__img-wrapper::after {
            content: "";

            position: absolute;
            top: 12px;
            left: 11px;
            right: unset;

            min-width: 34px;
            min-height: 22px;

            border-radius: 60px;
        }
    }

    &--mark-favorite {
        .card__img-wrapper::after {
            top: 10px;
            right: 9px;
            left: unset;

            min-width: 16px;
            min-height: 16px;
            background: center / cover no-repeat url("../image/heart.svg");
        }
    }
}



@media (min-width: $tablet-breakpoint) {
    .product-card {

        &__img-wrapper {

            &--kit-img {
                width: calc(250px + 158 * (100vw / $hd-plus-width));
                height: calc(250px + 158 * (100vw / $hd-plus-width));
            }

            &--new-product-img {
                width: calc(330px + 223 * (100vw / $hd-plus-width));
            }
        }

        &__price {
            font-size: calc(16px + 8 * ((100vw - 430px) / $hd-plus-width));

            &-old {
                font-size: calc(12px + 6 * ((100vw - 430px) / $hd-plus-width));
            }
        }
    }
}