.product-card {

    &__img-wrapper {
        position: relative;
    }

    &__price {
        position: absolute;
        bottom: 0;
        right: 0;

        padding: 5px 12px 1px 12px;
        text-align: right;

        &-old {
            display: block;

            text-decoration: line-through;

            color: #F91818;
            font-size: 12px;
            font-weight: 400;
        }

        &::after,
        &-old::after {
            content: " ₽";
            position: relative;
        }
    }

    &__description-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        margin-top: 8px;
        margin-left: 11px;
    }

    &__score {
        display: flex;
        align-items: center;

        color: #999999;
        font-size: 12px;

        &::after {
            content: "";

            display: inline-block;

            width: 14px;
            height: 14px;

            margin-left: 6px;

            background: center / contain no-repeat url("/assets/image/star.svg");
        }
    }

    &--mark-best,
    &--mark-discount {
        .product-card__img-wrapper::after {
            content: "";

            position: absolute;
            top: 12px;
            left: 11px;
            right: unset;

            min-width: 34px;
            min-height: 22px;

            border-radius: 60px;
        }
    }

    &--mark-best {
        .product-card__img-wrapper::after {
            top: 9px;
            right: 22px;
            left: unset;

            min-width: 52px;
            min-height: 33px;
            background: center / 21.22px no-repeat url("/assets/image/medal.svg"), #F6C9C9;
        }
    }

    &--mark-discount {
        .product-card__img-wrapper::after {
            background: center / 14px no-repeat url("/assets/image/down-arrow.svg"), #F6C9C9;
        }
    }
}