.slider {
    width: 100%;
    box-sizing: border-box;

    &__slide {
        width: auto;
        max-width: 100%;
        padding-right: 2px;

        overflow: hidden;
        
        &:last-of-type {
            padding-right: 0;
        }
    }

    &__pagination {
        display: flex;
        gap: 5px;

        position: absolute;
        z-index: 1;

        height: 2px;

        &>&-bullet {
            padding: 10px 0;

            &::after {
                content: "";

                display: block;

                width: 10px;
                height: 2px;

                border-radius: 40px;
                background-color: #BFBFBF;
            }
        }

        &>&-bullet-active {

            &::after {
                background-color: #48455C;
            }
        }

        &--bottom-center {
            justify-content: center;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &--top-right {
            width: auto;

            top: 21px;
            right: 30px;
            left: auto;
        }
    }

    &__info-slide {
        width: 290px;
        min-height: 200px;

        box-sizing: border-box;

        margin-right: 10px;
        padding-top: 25px;
        padding-left: 17px;

        border-radius: 10px;
        box-shadow: 0px 10px 15px 0px #0000001A;

        &-discount {
            margin-bottom: 46px;

            color: #A230FC;
            font-size: 66px;
            font-weight: 900;

            &::after {
                content: "%";
            }
        }

        &--with-bg {
            background: center / contain no-repeat url("/assets/image/slider-img/pencels.png");
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__button {
        width: 44px;
        height: 44px;

        &.swiper-button-next {
            text-align: right;
        }

        &::after {
            width: 24px;
            height: 24px;

            font-size: 24px;
        }
    }

    &--viewed {
        position: fixed;
        top: 0;

        width: 100vw;
        height: 100vh;

        margin: 0 !important;
        padding: 50px 0;

        z-index: 10;

        &>.swiper-slide {
            display: flex;
            justify-content: center;
        }

        &>.badge {
            display: none;
        }

        &::before,
        &::after {
            content: "";

            position: absolute;

            width: 100%;
            height: 50px;

            background-color: $black;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}