.top-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 62px;

    text-align: center;
    
    &__highlighted-text {
        display: contents;
    }

    &__text {
        display: flex;
        align-items: center;

        margin-top: auto;
        margin-bottom: 5px;

        &::after {
            content: "";

            display: inline-block;

            width: 14px;
            height: 14px;

            margin-left: 7px;

            background: center / cover no-repeat url("/assets/image/arrow.svg");
        }
    }
}



@media (min-width: $tablet-breakpoint) {
    .top-block {

        &__text {
            margin: auto;

            &::after {
                width: 34px;
                height: 34px;
            }
        }
    }
}