.main {

    &__title {
        font-size: calc(54px + (26 + 26 * 0.7) * ((100vw - 430px) / $hd-plus-width));
    }

    &__open-news {
        text-align: justify;
    }

    &__wrapper-with-line {
        position: relative;

        margin: 72px 42px 0 14px;

        text-align: right;

        border-right: 8px solid black;

        &::before {
            content: "";

            position: absolute;
            top: -63px;
            left: -242px;

            width: calc(502px + (581 + 581 * 0.7) * ((100vw - 430px) / $hd-plus-width));
            height: calc(397px + (594 + 581 * 0.7) * ((100vw - 430px) / $hd-plus-width));

            background: center / contain url("/assets/image/company.png") no-repeat;
        }

        // &::after {
        //     content: "";

        //     position: absolute;
        //     top: 10px;
        //     bottom: 3px;
        //     right: -4px;

        //     width: 8px;

        //     background-color: $black;
        // }
    }

    &__text-title {
        width: 172px;
        margin-left: auto;
        margin-right: 24px;

        font-size: 34px;
    }

    &__text-list {
        margin-top: 250px;
        margin-right: 30px;

        &>li {
            margin-bottom: 36px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__info-banner {
        padding: 26px 30px 101px 26px;
        margin-top: 30px;
        margin-bottom: -101px;

        text-align: justify;
        line-height: normal;

        border-radius: 0;
    }
}



@media (min-width: $tablet-breakpoint) {
    .main {

        &__title {
            font-size: calc(54px + 26 * (100vw / $hd-plus-width));
        }

        &__wrapper-with-line {
            max-width: 45%;
            margin-left: auto;

            &::before {
                left: 0;
                left: -200%;
            }
        }
    }
}

@media (min-width: $wide-breakpoint) {
    .main {

        &__text-wrapper,
        &__title-wrapper,
        &__open-news,
        &__wrapper-with-line,
        &__info-banner {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }

        &__text-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            
            min-height: 737px;

            padding-left: 100px;
            padding-right: 100px;
        }

        &__title-wrapper {
            padding-right: 0;
        }

        &__text-title,
        &__text-list {
            width: auto;
            margin: 0;
            text-align: left;
        }

        &__text-title {
            margin-bottom: 26px;
        }

        &__text-list {
            padding-right: 20%;
        }

        &__open-news,
        &__wrapper-with-line {
            max-width: 991px;
            box-sizing: content-box;
        }

        &__open-news {
            padding-left: unset;
        }


        &__wrapper-with-line {
            position: unset;

            &::before {
                top: 360px;
                left: -395px;

                z-index: 1;

                width: calc(502px + 581 * (100vw / $hd-plus-width));
                height: calc(397px + 594 * (100vw / $hd-plus-width));

                max-width: 1101px;
                max-height: 991px;
            }

            &::after {
                right: unset;
            }
        }

        &__info-banner {
            display: flex;
            align-items: flex-end;

            margin-top: 141px;
            margin-bottom: 67px;
            padding-right: 387px;

            &>div {
                width: 699px;
            }
        }
    }
}