.add-to-basket-btn {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 50px;

    padding-left: 25px;
    padding-right: 15px;

    border-radius: 6px;
    border: 1px solid #3075FC;

    color: $white;
    background: #3075FC;

    &__cost {
        position: relative;
        margin-right: 36px;

        &::before {
            content: "";

            position: absolute;
            top: -2px;
            left: calc(100% + 20px);

            display: inline-block;

            width: 16px;
            height: 16px;

            background: center/contain url("../image/shopping-bag--white.svg") no-repeat;
        }
    }

    &__sale {
        position: absolute;
        top: -20.5px;
        right: 31.5px;

        font-size: 16px;

        padding: 6px 15px;

        border-radius: 30px;
        background: linear-gradient(83deg, #A230FC 0.95%, #FC6BFF 0.96%, #A230FC 103.68%, #A230FC 103.69%);
    }
}



@media (min-width: $wide-breakpoint) {
    .add-to-basket-btn {
        min-height: 70px;

        padding-left: 30px;
        padding-right: 25px;

        &__cost {
    
            &::before {
                width: 24px;
                height: 24px;

                top: -4px;
            }
        }

        &__sale {
            right: 20px;

            font-size: 21px;
        }
    }
}