.add-review-form {
    color: $white;
    background: linear-gradient(268deg, #A230FC 6.52%, #3075FC 94.4%);

    &__title {
        margin-top: 82px;

        color: inherit;
    }

    .full-stars {
        margin-top: 33px;
        margin-bottom: 40px;
        
        text-align: center;

        & .rating-group {
            display: inline-flex;

            &:hover label {
                background: center / contain url("/assets/image/star.svg") no-repeat;
            }

            & input:hover~label {
                background: center / contain url("/assets/image/star--white.svg") no-repeat;
            }
        }

        & input {
            position: absolute;
            left: -9999px;
        }

        & label {
            width: 40px;
            height: 40px;

            padding: 0 10px;

            background: center / contain url("/assets/image/star.svg") no-repeat;

            cursor: pointer;
            box-sizing: content-box;
        }

        & input:checked~label {
            background: center / contain url("/assets/image/star--white.svg") no-repeat;
        }
    }

    & .popup__btn {
        margin-top: 30px;
    }
}