.added-to-cart {

    &__product-info {
        flex: 1;

        & .basket__item-price {
            display: block;

            width: 100%;

            margin-top: 5px;
            padding-top: 7px;

            color: #48455C;
            font-size: 18px;
            border-top: 1px solid #F6F6F6;
        }
    }

    &__product-info-wrapper {
        display: flex;
        justify-content: space-between;

        width: 100%;

        & .basket__item-btns {
            margin-top: 0 !important;
        }
    }
}