.header {
    overflow: hidden;
    background: linear-gradient(257.17deg, #3075FC 6.89%, #A230FC 97.54%);

    &__breadcrumbs>ul>li {
        color: $white;
    }

    &__page-icon,
    &__basket {
        background-color: #FFFFFF33;
    }

    &__page-icon {
        background-image: url("/assets/image/home--white.svg");
    }

    &__basket {
        background-image: url("/assets/image/shopping-bag--white.svg");
    }

    &__page-title {
        position: relative;

        margin-top: 45px;
        margin-bottom: 71px;

        z-index: 0;

        color: #48455C;
        text-align: center;
        text-transform: uppercase;

        p {
            letter-spacing: 8px;
            text-transform: lowercase;
        }

        &::after {
            content: "";

            position: absolute;
            top: -18px;
            left: -18%;
            right: -18%;

            min-width: 561px;
            height: 561px;

            z-index: -1;

            background-color: $white;
            border-radius: 100%;
        }
    }
}

.main {

    &__open-news {
        margin-top: 0;
    }

    &__block-title {
        margin-top: 50px;
    }

    &__slider {
        padding: 0 15px;
    }

    &__new-products-slider {
        margin-top: 53px;
    }

    &__feedback-sections {
        margin-top: 60px;
    }
}



@media (max-width: $wide-breakpoint) {
    .header {
        padding: 10px 10px 0 10px;
    }
}

@media (min-width: $mobile-breakpoint) {
    .main {
        &__open-news {
            display: flex;
            flex-wrap: wrap;
            column-gap: 73px;

            &>.open-news__img,
            &>.open-news__content-wrapper {
                flex: 1 1;
                margin-left: auto;
                margin-right: auto;
            }

            &>.open-news__content-wrapper {
                min-width: 340px;
            }
        }
    }
}

@media (min-width: $wide-breakpoint) {
    .header {
        margin: 0;

        &__logo-and-basket-wrapper,
        &__breadcrumbs {
            margin-left: 100px;
            margin-right: 100px;
        }

        &__page-title {
            &::after {
                left: -15%;
                right: -15%;
            }
        }
    }

    .main {

        &__open-news,
        &__open-news,
        &__block-title,
        &__slider,
        &__new-products-slider {
            margin-left: 0;
            margin-right: 0;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}