.main {

    &__nav {
        margin: 12px 16px 11px;
    }

    &__page-selcetor {
        justify-content: flex-end;
        margin: 37px 28px 42px auto;
    }

    &__logo-slider {
        margin-top: 34px;
        padding: 0 18px;

        & .swiper-wrapper {
            align-items: center;
        }

        & .slider__slide {
            padding-right: 43px;
            border-radius: 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__filter-buttons {
        margin: 0 16px;
    }
}



@media (min-width: $wide-breakpoint) {
    .header {
        margin: 0;

        &__logo-and-basket-wrapper,
        &__breadcrumbs,
        &>.nav {
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    .main {

        &__block-title,
        &__slider,
        &>.brands-list {
            margin-left: 0;
            margin-right: 0;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__nav,
        &__filter-buttons {
            margin-left: 100px;
            margin-right: 100px;
        }

        &__page-selcetor {
            margin-right: 100px;
        }
    }
}