.main {

    &__block-title-with-filter-buttons {
        margin: 0 10px 16px 10px;
    }

    &__slider {
        margin-bottom: 27px;
        padding: 0 10px;
    }
}

.cabinet {

    &__profile {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    &__wrapper {
        display: flex;
        gap: 20px;
        margin-bottom: 25px;
    }

    &__image {
        border-radius: 110px;
        width: 100px;
        height: 100px;
    }

    &__profile-name {
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: #414253;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 13px;
    }

    &__phone {
        color: #4088DD;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__title {
        margin-bottom: 17px;
        color: #858585;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__paymethod {
        display: flex;
        padding: 18px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        margin-bottom: 10px;

        .cabinet__paymethod-block {
            display: flex;
            flex-direction: column;
        }

        .cabinet__pay-title {
            margin-bottom: 19px;
            color: #4088DD;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .cabinet__pay-number {
            color: #414253;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .cabinet__pay-date {
            margin-top: auto;
            margin-left: auto;
            color: #414253;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &__addBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
        color: #4088DD;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;
        padding-top: 46px;
        padding-bottom: 20px;
        margin-bottom: 27px;

        &::before {
            content: "";
            background-image: url("../image/addIcon.svg");
            width: 12px;
            height: 12px;
            position: absolute;
            top: 22px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-bottom: 28px;

        .cabinet__item {
            border-radius: 5px;
            background: #F6F8F9;
            position: relative;

            &::after {
                content: "";
                background-image: url("../image/rightArrow.svg");
                width: 24px;
                height: 24px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        .cabinet__link {
            display: block;
            width: 100%;
            height: 100%;
            padding: 23px 19px;
            color: #414253;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}



@media (min-width: $wide-breakpoint) {
    .header {
        margin: 0;

        &__logo-and-basket-wrapper,
        &__breadcrumbs,
        &>.nav {
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    .main {

        &__slider {
            margin-bottom: 129px;
            padding: 0;
        }

        &__block-title-with-filter-buttons {
            justify-content: flex-end;

            margin: 0 100px;
            margin-bottom: 24px;
        }
    }

    .cabinet {
        margin-left: 100px;
        margin-right: 100px;

        &__profile {
            display: grid;
            column-gap: 54px;
            grid-template-columns: 383px 1fr 1fr;

            margin-top: 90px;
        }

        &__image {
            width: 189px;
            height: 189px;
        }

        &__name,
        &__phone {
            font-size: 24px;
        }

        &__wrapper {
            grid-column: 2 / 4;
        }

        &__paymethod {
            grid-column: 2 / 3;

            margin: 0;
            padding: 15px 18px;
        }

        &__addBtn {
            grid-column: 3 / 4;

            margin: 0;
        }

        &__list {
            grid-row: 1 / 5;
        }
    }
}