.main {

    &__catalog-categories-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin: 10px 15px 0 15px;
    }

    &__communication-blocks-wrapper {
        flex-direction: column;
        margin-top: 27px;
    }

    &__info-block-wrapper {
        display: flex;
        flex-direction: column;

        margin: 0 15px;
    }
}



@media (min-width: $wide-breakpoint) {
    .main {

        &__info-block-wrapper {
            display: inline-flex;
        }

        &__feedback-sections {
            margin: 41px 100px 0;
        }

        &__catalog-categories-list {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 26px;

            margin-left: 0;
            margin-right: 0;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__info-block-wrapper {
            margin-left: 100px;
            margin-right: 100px;
        }

        &__filter-buttons {
            display: inline-flex;
            justify-content: space-between;

            &>.filter-buttons__btn {
                flex: none;
            }
        }

        &__info-text {
            margin: 0;
        }

        &__communication-blocks-wrapper {
            flex-direction: row;
        }
    }
}