.main {

    &__filter-buttons {
        margin: 27px 15px 0 15px;
    }

    &__catalog-categories-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin: 17px 15px 0 15px;
    }

    &__communication-blocks-wrapper {
        flex-direction: column;
        margin-top: 27px;
    }
}



@media (min-width: $wide-breakpoint) {
    .header {
        margin: 0;

        &__logo-and-basket-wrapper,
        &__breadcrumbs,
        &>.nav {
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    .main {

        &__feedback-sections {
            margin-top: 41px;
        }

        &__catalog-categories-list {
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 26px;

            margin-left: 0;
            margin-right: 0;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__filter-buttons {
            margin-left: 100px;
            margin-right: 100px;
        }

        &__filter-buttons {
            display: inline-flex;

            &>.filter-buttons__btn {
                flex: none;
            }
        }

        &__info-text {
            margin: 0;
        }

        &__communication-blocks-wrapper {
            flex-direction: row;
        }
    }
}