.main {

    &__filter-buttons {
        margin: 27px 15px 0 15px;
    }

    &__catalog-categories-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin: 17px 15px 0 15px;
    }

    &__info-text {
        margin: 17px 18px 0 12px;
    }

    &__communication-blocks-wrapper {
        margin-top: 14px;
    }
}