.checkout {
    position: relative;

    &__rect {
        width: 240px;
        height: 476px;

        position: absolute;
        right: 0;
        top: -230px;
        z-index: -1;

        background: bottom left/150% url("../image/checkout-icon.svg") no-repeat;
    }

    .checkout__title {
        display: flex;
        flex-direction: column;
        margin-top: 37px;
        margin-bottom: 119px;
        color: #333333;
        font-size: 34px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }

    .checkout__info {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;

        .checkout__infokey {
            color: #333;
            font-size: 8px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .checkout__infovalue {
            color: #333;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}



@media (min-width: $wide-breakpoint) {
    .checkout {
        position: unset;

        .checkout__title,
        .checkout__info,
        &__question-cards {
            margin-left: 100px;
            margin-right: 100px;
            padding-left: 0;
            padding-right: 0;
        }

        &__rect {
            width: 774px;
            height: 764px;

            top: 0px;
        }

        .checkout__title {
            margin-top: 148px;
            margin-bottom: 176px;
        }

        .checkout__info {
            margin-bottom: 146px;
        }

        &__question-cards {
            &>.question-cards__card {
                flex-wrap: wrap;
                flex-direction: row;
                gap: 53px 110px;

                &>div {
                    flex: 1;
                }

                &>.question-cards__submit-btn-wrapper {
                    width: 100%;
                    flex: unset;
                }
            }

            margin-bottom: 53px;
        }
    }
}