.custom-input {
    position: relative;

    padding: 10px;

    border-radius: 6px;
    border: 1px solid #48455C;

    &__label {
        position: absolute;
        top: -7px;
        left: 7px;

        padding: 0 10px;

        background-color: $white;
    }

    &__input {
        width: 100%;

        resize: none;

        font-family: inherit;

        border: unset;
        outline: unset;
    }

    &__link {
        display: flex;
        align-items: center;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        padding-left: 10px;
        margin-right: 13px;

        color: #3075FC;
        text-transform: uppercase;
    }
}