.discount-timer {
    position: relative;

    display: flex;
    align-items: center;
    gap: 5px;

    max-width: 500px;
    min-height: 70px;

    margin: 0 15px;
    margin-top: 21px;
    padding-left: 55px;
    padding-right: 34px;

    overflow: hidden;

    color: $white;
    border-radius: 10px;
    background: linear-gradient(93deg, #3075FC 26.36%, #A230FC 90.49%);

    &__title {
        flex: 1;
        font-weight: 700;
        line-height: normal;
    }

    &__time {
        display: flex;
        justify-content: space-between;
        min-width: 100px;

        &>span {
            position: relative;

            display: inline-flex;
            justify-content: center;

            flex: 1;

            &:not(:last-of-type)::after {
                content: ":";

                position: absolute;
                right: 0;

                width: 1.5px;
            }
        }
    }

    &__time-sign {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 100px;
        min-height: 40px;

        padding: 10px;

        text-transform: uppercase;

        border-radius: 6px;
        background-color: $black;
    }

    &__close-btn {
        position: absolute;
        top: 12px;
        right: 12px;

        width: 14px;
        height: 14px;

        padding: 10px;

        background: center url("/assets/image/close-icon--white.svg") no-repeat;
    }

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 71px;
        height: 70px;

        background: center url("/assets/image/discount-timer-img.svg") no-repeat;
    }
}