.filter-buttons {
    display: flex;
    gap: 5px;

    padding: 6px 9px;

    box-sizing: border-box;

    border-radius: 60px;

    &__btn {
        flex-grow: 1;

        padding: 10px 25px;

        text-align: center;

        border-radius: 60px;
        background-color: #00000000;

        transition: .15s ease-in-out;

        &--active {
            color: $white !important;
            font-weight: 700;
            background-color: #3075FC;
        }
    }

    &--outline {

        & .filter-buttons__btn {
            border: 1px solid #3075FC;
        }
    }
}



@media (min-width: $wide-breakpoint) {
    .filter-buttons {

        &__btn {
            font-size: 14px;
        }
    }
}