.main {

    &__primary-slider {
        margin-top: 3px;

        &-img {
            max-width: 100%;
        }
    }

    &__slider-banner {
        margin: 0 25px;
        margin-top: -50px;
        z-index: 1;
    }

    &__slider {
        padding: 0 14px;
    }

    &__info-slider {
        margin-top: 52px;
        overflow-y: unset;
    }

    &__logo-slider {
        margin-top: 46px;
        margin-bottom: 45px;
        padding-bottom: 37px;

        & .swiper-wrapper {
            align-items: center;
        }

        & .slider__slide {
            padding-right: 43px;
            border-radius: 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__trends-slider {
        margin-bottom: 50px;
    }

    &__filter-buttons {
        margin: 0 10px;
        margin-bottom: 17px;
    }

    &__finished-image {
        display: flex;
        flex-direction: column;

        padding: 17px 15px 20px 15px;

        background-color: #F6F6F6;
        box-shadow: inset 0px 10px 15px 0px #0000001A;

        .slider {
            margin-top: 17px;
        }
    }

    &__about-payment {
        margin-top: 43px;
    }

    &__brand-baner {
        min-height: 190px;

        margin: 13px 18px 0 15px;

        .banner__wrapper {
            padding: 14px 17px 23px 17px;
        }
    }
}