.main {
    
    &__primary-slider {
        margin-top: 3px;
    }

    &__slider-banner {
        margin: 0 25px;
        margin-top: -50px;
        z-index: 1;
    }

    &__slider {
        margin-left: 14px;
    }

    &__info-slider {
        margin-top: 52px;
        overflow: unset;
    }
}