.main {
    
    &__feedback-sections {
        background-color: #f5f6f6;
    }

    &__primary-slider {
        margin-top: 3px;

        &-img {
            max-width: 100%;
        }
    }

    &__slider-banner {
        margin: 0 25px;
        margin-top: -50px;
        z-index: 1;
    }

    &__slider {
        padding: 0 14px;
    }

    &__info-slider {
        margin-top: 52px;
        overflow-y: unset;
    }

    &__logo-slider {
        margin-top: 46px;
        margin-bottom: 45px;
        padding-bottom: 37px;

        & .swiper-wrapper {
            align-items: center;
        }

        & .slider__slide {
            padding-right: 43px;
            border-radius: 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__trends-slider {
        margin-bottom: 50px;
    }

    &__filter-buttons {
        margin: 0 10px;
        margin-bottom: 17px;
    }

    &__finished-image {
        display: flex;
        flex-direction: column;

        padding: 17px 15px 20px 15px;

        background-color: #F6F6F6;
        box-shadow: inset 0px 10px 15px 0px #0000001A;

        .slider {
            margin-top: 17px;
        }
    }

    &__about-payment {
        margin-top: 43px;
    }

    &__brand-baner {
        min-height: 190px;

        margin: 13px 18px 0 15px;

        .banner__wrapper {
            padding: 14px 17px 23px 17px;
        }
    }
}



@media (min-width: $wide-breakpoint) {
    .main {

        &__slider-banner {

            & .banner__title {
                font-size: 40px;
            }

            & .banner__block-wrapper {
                font-size: 24px;
            }
        }

        &__primary-slider,
        &__block-title,
        &__slider,
        &__finished-image,
        &__brand-baner {
            margin-left: 0;
            margin-right: 0;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__primary-slider {
            margin-top: 37px;

            &>.swiper-wrapper {

                &>.swiper-slide {
                    width: auto;
                }
            }

            &>.slider__pagination {
                display: none;
            }
        }

        &__finished-image {
            padding-top: 82px;
        }

        &__slider-banner {
            margin-left: 20%;
            margin-right: 20%;
            margin-top: -171px;
        }

        &__filter-buttons {
            margin-left: 100px;
            margin-right: 100px;
        }

        &__feedback-sections {
            background-color: unset;
        }

        &__logo-slider {

            & .slider__slide {
                height: 50px;

                & a,
                & img {
                    height: 100%;
                }

                & a {
                    display: flex;
                    align-items: center;

                }
            }
        }

        &__about-payment {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-left: 100px;
            padding-right: 100px;

            &>.about-payment__text-wrapper,
            &>.about-payment__cards-wrapper {
                flex: 1;
            }

            &>.about-payment__text-wrapper {
                max-width: 683px;
                font-size: 20px;

                &>.about-payment__title {
                    font-size: 36px;
                }
            }

            &>.about-payment__cards-wrapper {
                display: flex;
                justify-content: flex-end;
            }
        }

        &>.stylist-consultation {
            margin-top: 32px;
        }
    }
}