.mini-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    min-height: 52px;

    padding: 10px;

    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 10px;
    background: #F6F6F6;

    &::before {
        content: "";

        width: 88px;
        height: 20.8px;
        flex-shrink: 0;

        background: center / contain url("../image/road of life-logo.svg") no-repeat;
    }
}