.nav {

    &__search-with-filter {
        display: flex;
        gap: 10px;

        &>.nav__search-wrapper {
            flex: 1 1;
        }
    }

    &__search-wrapper {
        display: flex;
        align-items: stretch;

        min-height: 40px;

        padding-right: 8px;

        border-radius: 40px;
        box-shadow: 0px 4px 4px 0px #0000000D;
    }

    &__search {
        display: inline-flex;
        align-items: center;

        width: 100%;
    }

    &__search-icon {
        display: inline-block;

        width: 16px;
        height: 16px;

        background: center url("/assets/image/search.svg") no-repeat;
    }

    &__search-input {
        width: 100%;
        height: 100%;
    }

    &__btns-wrapper {
        display: flex;
        align-items: center;
    }

    &__search-btn {
        width: 24px;
        height: 24px;

        position: relative;
        border-radius: 46px;

        &::after {
            content: "";

            width: 18px;
            height: 18px;

            margin: 3px;

            background-color: $red;

            position: absolute;
            top: 0;
            left: 0;
            border-radius: 46px;
        }
    }

    &__search-counter-wrapper {
        position: relative;
    }

    &__search-counter {
        width: 55px;
        height: 24px;

        padding: 4px 4px 4px 9px;
        margin-left: 7px;

        border-radius: 50px;

        appearance: textfield;

        &-btn {
            position: absolute;
            right: 0;

            width: 10px;
            height: 10px;

            padding: 0 10px;
            padding-top: 13px;

            background: bottom url("/assets/image/mini-top-arrow.svg") no-repeat;

            &#dec-count {
                bottom: 0;

                background: top url("/assets/image/mini-down-arrow.svg") no-repeat;
            }
        }
    }

    &__links-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $s-spacer;
    }

    &__link {
        display: inline-block;

        border-radius: 50px;
    }
}