.main {

    &__title-wrapper {
        margin-left: 0;
    }

    &__open-news {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-top: 8px;

        &>.news-block__info-wrapper {
            margin-top: 5px;
            padding-top: 0;
        }

        &>.open-news__img {
            display: flex;

            margin: auto;

            &>img {
                width: 100%;
                object-fit: contain;
                border-radius: 20px;
            }
        }
    }

    &__block-title {
        margin-top: 51px;
    }

    &__slider {
        padding: 0 15px;
    }
}



@media (min-width: $wide-breakpoint) {
    .header {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 81px;
    }

    .main {

        &__open-news,
        &__block-title {
            padding-left: 0;
            padding-right: 0;
            margin-left: 100px;
            margin-right: 100px;
        }

        &__slider {
            padding-left: 100px;
            padding-right: 100px;
            margin-bottom: 194px;
        }

        &__title-wrapper {
            margin-bottom: 30px;
        }

        &__open-news {
            display: grid;
            justify-content: space-between;

            grid-template-columns: 1fr auto;
            grid-auto-columns: 100%;
            grid-auto-flow: dense;

            gap: 30px;

            &>.open-news__img {
                margin: 0;
                justify-content: right;

                max-width: 845px;

                grid-column: 2 / 3;
                grid-row: 1 / -4;

                &>img {
                    width: unset;
                }
            }

            &>.news-block__info-wrapper {
                grid-column: 1;
            }
        }
    }
}