.open-news {

    &__img {
        width: 100%;
        max-width: 553px;
        border-radius: 20px;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: $wide-breakpoint) {
    .open-news {
        margin: 27px 15px 0 15px;
    }
}