.page-selcetor {

    &,
    &__pages-wrapper {

        display: flex;
        gap: 5px;
    }

    &__back,
    &__next,
    &__page {
        border-radius: 10px;
        background-color: #F5F6F6;
    }

    &__back,
    &__next {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 48px;
        height: 37px;
    }

    &__next-icon,
    &__back-icon {
        width: 18px;
        height: 18px;

        &--disabled {
            opacity: 0.5;
        }
    }

    &__next-icon {
        background-image: url("/assets/image/arrow-black.svg");
    }

    &__back-icon {
        background-image: url("/assets/image/arrow-black.svg");
        transform: rotate(180deg);
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 38px;
        height: 37px;

        font-weight: 600;
        line-height: 100%;

        &--select {
            color: $white;
            background-color: #3075FC;
        }
    }
}