.main {

    &__product-preview {
        margin-top: 19px;
    }

    &__reviews-slider-wrapper {
        margin-top: 27px;
    }

    &__finished-image {
        margin-top: 48px;
    }

    &__brand-baner {
        margin: 38px 15px -38px 15px;

        box-sizing: border-box;

        & .banner__wrapper {
            padding-bottom: 50px;
        }
    }

    &__mini-slider {
        padding: 0 30px;
    }

    &__feedback-sections {
        margin-top: 32px;
    }

    &__product-slider {
        margin-top: 20px;

        &>.slider__pagination {
            bottom: 21px;
        }
    }

    &__product-type-selector {
        padding: 0 10px;
        margin-top: 10px;
    }

    &__link-wrapper {
        display: flex;
        justify-content: space-between;

        margin: 0 15px;
        margin-top: 17px;
    }

    &__buy-link {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        min-width: 300px;
        min-height: 50px;

        box-sizing: border-box;

        padding-left: 21px;
        padding-right: 37px;

        border-radius: 6px;
        text-transform: uppercase;
    }

    &__basket-link {
        display: inline-block;

        width: 90px;
        height: 50px;

        border: 1px solid #3075FC;
        border-radius: 6px;
        background: center url("../image/shopping-bag--blue.svg") no-repeat;
    }

    &__description-slider {
        margin-top: -20px;
        padding: 0 20px;
    }

    &__product-categories-wrapper {
        min-height: 297px;

        margin-top: -47px;
        padding-top: 83px;
        padding-bottom: 23px;

        box-sizing: border-box;
        background: $gradient;

        &-title {
            margin: 0 16px;
            margin-bottom: 21px;
        }

        & .swiper {
            padding: 0 16px;
        }
    }

    &__recommendations-slider {
        margin-top: 21px;

        & .swiper-slide {
            display: flex;
            justify-content: center;
            gap: 36px;
        }
    }

    &__add-to-basket-btn {
        margin: 0 15px;
        margin-top: 51px;
    }
}



@media (min-width: $wide-breakpoint) {
    .main {

        &__product-preview {
            margin-top: 80px;
        }

        &__feedback-sections {
            background-color: #f5f6f6;
        }

        &__link-wrapper,
        &__description-slider,
        &__product-categories-wrapper,
        &__reviews-slider-wrapper,
        &__mini-slider {
            margin-left: 0;
            margin-right: 0;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__link-wrapper {
            gap: 10px;
        }

        &__basket-link {
            display: flex;
            align-items: center;

            padding: 10px 20px;

            width: 100%;
            max-width: 335px;
            height: 100%;

            background-position: right 20px center;

            &::before {
                content: "В корзину";

                color: #3075FC;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        &__brand-baner {
            margin: 38px 0 -90px;

            &>.banner__wrapper {
                min-height: 399px;
            }
        }

        &__mini-slider {
            padding-left: 150px;
        }

        &__about-payment {
            align-items: start;

            min-height: 365px;

            padding-top: 60px;

            & .about-payment__title-wrapper {
                display: contents;
            }

            & .about-payment__text {
                padding-left: 0;
            }
        }

        &>.stylist-consultation {
            margin-top: 0;
        }

        &__description-slider,
        &__product-categories-wrapper {
            margin-top: 0;

            &>.swiper-wrapper {
                gap: 30px;
            }
        }

        &__product-categories-wrapper {
            margin-bottom: 100px;
        }

        &__description-slider {
            display: flex;

            padding-top: 36px;

            overflow: unset;

            &>.swiper-wrapper {
                position: absolute;
                top: -100px;

                width: auto;
                height: auto;
                align-items: stretch;
            }
        }

        &__product-categories-wrapper {
            padding-top: 122px;

            &-title {
                margin-left: 0;
            }

            & .swiper {
                padding-left: 0;
            }
        }

        &__recommendations-slider {
            padding: 0 100px;

            & .swiper-slide {
                justify-content: flex-start;

                width: auto;
            }

            &>.slider__button {
                display: none;
            }
        }

        &__recommendations-wrapper {
            display: flex;
            flex-direction: column-reverse;

            margin-top: -24px;
        }

        &__add-to-basket-btn {
            width: 400px;
            margin: 0;
            margin-left: auto;
            margin-right: 100px;
        }

        &__buy-link {
            width: 100%;
            max-width: 500px;
            min-height: 70px;
        }
    }
}