.product-size-card {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 50px;
    min-height: 50px;

    font-weight: 500;
    font-size: 16px;

    border-radius: 4px;
    background-color: #F2F2F2;

    &--over {
        color: #0000001a;

        &::after {
            content: ' ';

            position: absolute;
            top: 50%;
            left: 0;

            width: 100%;
            height: 1px;

            transform: rotate(45deg) translateY(-50%);

            background-color: #0000001a;
        }
    }

    &.selected {
        border: 1.5px solid #000000
    }
}