.product-preview {
    position: relative;

    &__header {
        margin-left: 18px;
        margin-right: 29px;
    }

    &__info-wrapper {
        margin-top: 16px;

        display: flex;
        justify-content: space-between;
    }

    &__price,
    &__price-old {
        position: relative;

        display: inline-block;

        &::before {
            content: "";
        }

        &::after {
            content: " ₽";
            position: relative;
        }
    }

    &__price {
        margin-right: 10px;

        &::before {
            display: inline-block;

            width: 21px;
            height: 19px;

            margin-right: 9px;

            background: center/cover url("/assets/image/hand.svg") no-repeat;
        }
    }

    &__price-old {
        color: #BFBFBF;
        font-size: 18px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 50%;

            z-index: 1;
            border-bottom: 1.5px solid #BFBFBF;
        }
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__star-btn {
        width: 11.02px;
        height: 11.02px;

        box-sizing: content-box;

        padding: 4px 10px 4px 10px;

        border-radius: 40px;
        background: center url("/assets/image/star--blue.svg") no-repeat, #A230FC33;
    }

    &__like-btn {
        width: 16px;
        height: 16px;

        background: center url("/assets/image/heart.svg") no-repeat;
    }

    &__highlight-payment-info-text {
        display: inline-flex;
        align-items: center;

        font-weight: 700;

        &::before {
            content: "";

            display: inline-block;

            width: 12px;
            height: 12px;

            margin-left: 1em;
            margin-right: 1ex;

            background: center/cover url("/assets/image/about-payment-logo--black.svg") no-repeat;
        }
    }

    &__promotion-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;

        min-height: 53px;

        margin: 12px 25px 0 25px;
        padding: 0 27px 0 23px;

        color: $white;

        z-index: 2;
        border-radius: 10px;
        background: linear-gradient(#A230FC, #3075FC);
    }

    &__discount {
        position: relative;

        font-size: 3em;

        &::before,
        &::after {
            position: absolute;

            font-size: 0.4em;
        }

        &::before {
            content: "-";

            top: 12px;
            left: -5px;
        }

        &::after {
            content: "%";

            bottom: 2px;
            left: 100%;
        }
    }

    &__discount-info {
        flex: 1 1;
        margin-left: 30px;
    }

    &__more-link {
        margin-left: 8px;

        text-decoration: underline;
    }

    &__bear {
        width: 75px;
        height: 62px;

        padding-top: 19px;
        margin-top: -19px;

        background: center / cover url("/assets/image/ice-bear.png") no-repeat;
    }

    &__promotion-banner-close-btn {
        position: absolute;
        top: 13px;
        right: 10px;

        width: 14px;
        height: 14px;

        padding: 10px;

        background: center url("/assets/image/close-icon--white.svg") no-repeat;
    }

    &__slider-card {
        display: flex;

        height: 100%;

        padding: 0 50px;

        &>img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            object-fit: cover;
        }
    }

    &__image-link {
        position: absolute;
        left: 23px;
        bottom: 11px;

        padding: 10px 20px;

        z-index: 3;
        border-radius: 40px;

        color: $white;
        background: linear-gradient(#3075FC, #A230FC);
    }
}



@media (min-width: $tablet-breakpoint) {
    .product-preview {

        &__slider-card {

            &>img {
                max-width: 50%;
            }
        }
    }
}

@media (min-width: $wide-breakpoint) {
    .product-preview {

        &__header {

            &>p {
                font-size: 24px;
            }
        }

        &__info-wrapper {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        &__price {

            &::before {
                width: 34px;
                height: 31px;
            }
        }

        &__price-old {
            font-size: 24px;
        }

        &__highlight-payment-info-text {
            font-size: 20px;

            &::before {
                width: 24px;
                height: 24px;
            }
        }
    }
}