.product-filter-form {
    margin-top: 44px;

    &__sort-type,
    &__cost,
    &__size,
    &__color {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__sort-type {
        gap: 22px;
    }

    &__cost {
        gap: 8px;
        margin-top: 45px;
    }

    &__size {
        gap: 12px;
        margin-top: 21px;

        &-selector {
            display: flex;
            flex-wrap: wrap;
            gap: 0.3rex;
        }
    }

    &__color {
        gap: 18px;
        margin-top: 51px;
    }

    &__submit-btn {
        margin-top: 46px;
    }

    &__checkboxes {
        margin-top: 45px;

        &>ul {
            max-height: 106px;

            margin-top: 15px;
            padding-right: 20px;

            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            &>li {

                &>label,
                &>label>div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 8px;
                }

                &>label {
                    padding: 5px 0;
                }

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}