.main {
    margin: 0 10px 60px;

    &__page-title {
        color: #333;
        text-align: left;
        font-size: 36px;
        font-weight: 800;

        margin: 20px 10px 0;
    }

    &__question-cards {
        margin-top: 25px;
    }
}



@media (min-width: $wide-breakpoint) {

    .header,
    .main {
        padding-left: 0;
        padding-right: 0;
        margin-left: 100px;
        margin-right: 100px;
    }

    .main {

        &__page-title {
            margin-top: 90px;
        }

        &__question-cards {
            flex-direction: row;

            margin-top: 37px;

            & .question-cards__submit-btn {
                margin-top: 100px;
            }
        }
    }
}