.reviews-list-popup {

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 5px;
        margin-bottom: 41px;
    }

    &__page-selcetor {
        justify-content: flex-end;

        margin-top: 27px;
    }

    &__btn {
        margin-top: 67px;
    }
}