.reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__review {
        position: relative;

        flex-grow: 1;

        padding: 11px 35px 18px 25px;

        font-weight: 500;

        border-radius: 10px;

        box-sizing: border-box;

        background: #FFFFFF;
        box-shadow: 0px 10px 15px 0px #0000001A;

        &-score {
            display: block;

            position: absolute;
            top: 0;
            right: 25px;

            min-width: 23px;
            height: 40px;

            padding: 0 5px;
            padding-top: 9px;

            box-sizing: border-box;

            color: $white;
            text-align: center;

            background-color: $black;

            &::after {
                content: "";

                display: block;

                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;

                box-sizing: border-box;

                border: 12px solid transparent;
                border-bottom: 10px solid $white;
            }
        }
    }

    &__user-info {
        display: flex;
        align-items: center;
        gap: 15px;

        margin-bottom: 30px;
    }

    &__user-avatar {
        height: 39px;
        width: 39px;

        border-radius: 100%;
    }

    &__user-text {
        margin-top: 10px;
        margin-bottom: 42px;
    }

    &__text-wrapper {
        position: relative;
    }

    &__reed-more {
        position: absolute;
        bottom: 18px;
        right: 0;

        color: #3075FC;
        text-decoration: underline;
    }
}



@media only screen and (min-width: $tablet) {
    .reviews-wrapper {
        gap: 30px;

        &__review {
            width: 40%;
        }
    }
}

@media only screen and (min-width: $desktop) {
    .reviews-wrapper {

        &__review {
            flex: 1;

            width: 100%;
        }
    }
}