.main {

    &__brand-baner {
        margin: 19px 17px 0 16px;

        & .banner__wrapper {
            padding: 17px 17px 23px 17px;
        }
    }

    &__filter-buttons {
        margin-top: 28px;

        & .filter-buttons__btn {
            font-size: 12px;
            color: #3075FC;
        }
    }

    &__products-list {
        margin: 0 14px;
    }

    &__reviews-slider-wrapper {
        margin-top: 46px;
    }
}



@media (min-width: $wide-breakpoint) {
    .header {
        margin: 0;

        &__logo-and-basket-wrapper,
        &__breadcrumbs,
        &>.nav {
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    .main {

        &__block-title,
        &__filter-buttons,
        &__products-list,
        &__brand-baner,
        &__reviews-slider-wrapper {
            margin-left: 0;
            margin-right: 0;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__products-list {
            margin-top: 30px;
        }

        &__reviews-slider-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;

            background-color: unset;

            &>.block-title {
                display: flex;
                align-items: baseline;
                justify-content: flex-start;
                gap: 18px;

                &>div {
                    font-size: 18px;
                }
            }

            &>.reviews-slider-wrapper__reviews-slider {
                grid-column: 1 / 3;
            }

            &>.reviews-slider-wrapper__links-wrapper {
                grid-row: 1 / 1;
                grid-column: 2 / 3;

                justify-content: flex-end;

                &>.reviews-slider-wrapper__link {
                    width: auto;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }

        &__feedback-sections {
            margin-top: 69px;
        }
    }
}