.size-table {
    min-width: 355px;

    &>thead>tr {
        color: #48455C;
        font-size: 16px;
        font-weight: 700;
    }

    &>tbody>tr {
        &>td {
            padding-left: 15px;
        }

        &:nth-of-type(2n+1) {
            background-color: #F6F6F6;
        }
    }

    & tr {

        &>td {
            min-width: 70px;

            padding: 18px 10px;
        }
    }
}