#size-notification-popup>.popup__content-wrapper {
    display: flex;
    flex-direction: column;
}

.size-notice-form {
    flex: 1;

    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
    }

    &__size-selector {
        margin-top: 21px;
        padding: 0 10px;
    }

    &__contact-input {
        width: 100%;

        margin-top: 33px;
        padding: 12px 17px;

        border-radius: 40px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    }

    &__checkboxes-wrapper {
        display: flex;
        justify-content: space-evenly;

        margin-top: 19px;
    }

    &__checkbox-wrapper {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    &__btn {
        margin-top: 39px;
    }

    &__links-wrapper {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 5px;

        height: 100%;

        &>a {
            padding: 10px 5px;
            text-decoration: underline;
        }
    }
}