.size-chart {
    padding-left: 10px;
    padding-right: 26px;

    overflow: hidden;

    &__header {
        display: flex;
        justify-content: space-between;

        margin-top: 20px;
    }

    &__title {
        display: inline-block;

        text-decoration: underline;
        margin-right: 14px;
    }

    &__size-type-link {

        &.selected {
            font-weight: 700;
        }
    }

    &__more-sizes {
        display: flex;
        align-items: center;

        text-decoration: underline;

        &::before {
            content: "";

            width: 10px;
            height: 10px;

            margin-right: 2px;

            background: center url("/assets/image/bell.svg") no-repeat;
        }
    }

    &__product-size-selector {
        margin-top: 10px;

        overflow: visible;

        & .swiper-slide {
            width: auto;
        }
    }

    &__last-size-link {
        display: flex;
        align-items: center;

        margin-top: 10px;

        &::before {
            content: "";

            display: inline-block;

            width: 14px;
            height: 14px;

            margin-right: 5px;

            background: center url("/assets/image/change.svg") no-repeat;
        }
    }
}



@media (min-width: $wide-breakpoint) {
    .size-chart {

        &__last-size-link {
            margin-top: 20px;
        }
    }
}