.stars-wrapper {
    display: inline-block;

    &__start,
    &__start--light {
        display: inline-block;

        width: 10px;
        height: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__start {
        background: center / contain url("../image/star--fill.svg") no-repeat;
    }

    &__start--light {
        background: center / contain url("../image/star--light.svg") no-repeat;
    }
}



@media (min-width: $wide-breakpoint) {
    .stars-wrapper {

        &__start,
        &__start--light {
            width: 18px;
            height: 18px;
        }
    }
}