.stylist-consultation {
    width: 100%;
    min-height: 463px;

    padding: 26px 16px;

    color: $white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), left/cover url("../image/stylist-consultation bg.png"), lightgray 50% / cover no-repeat;
    box-sizing: border-box;

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        display: inline-block;

        font-weight: 700;
        font-size: $l-fs;
    }

    &__info-btn {
        display: inline-block;

        width: 20px;
        height: 20px;

        margin-top: 5px;
        margin-left: auto;

        background: center / contain no-repeat url("../image/info.svg");
    }

    &__price {
        margin-top: 6px;
        font-weight: 800;

        &::after {
            content: " ₽";
        }
    }

    &__steps-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        margin-top: 40px;
        counter-reset: num;
    }

    &__step {
        display: flex;

        &-info {
            max-width: 140px;

            font-size: 12px;
            line-height: 14.09px;
        }

        &-title {
            display: block;
            margin-bottom: 3px;

            font-weight: 700;

            &::after {
                content: "Шаг " counter(num);
            }
        }

        &::before {
            content: counter(num);
            counter-increment: num;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 39px;
            height: 39px;

            margin-right: 19px;

            font-weight: 300;
            font-size: 20px;

            background: center url("../image/border.svg") no-repeat;
        }
    }

    &__btn {
        display: inline-block;

        margin-top: 40px;
        padding: 11px 29px;

        border-radius: 4px;

        font-weight: 700;
        text-transform: uppercase;
        background: linear-gradient(89.08deg, #3075FC 0%, #A230FC 93.22%);
    }
}



@media (min-width: $wide-breakpoint) {
    .stylist-consultation {
        min-height: 762px;

        display: grid;
        grid-auto-columns: 420px;
        grid-template-rows: min-content;

        align-content: end;
        align-items: end;
        justify-content: space-between;
        justify-items: start;

        padding: 0 100px 68px 100px;

        &__steps-wrapper {
            margin-top: auto;
            grid-column: 2 / 3;
            grid-row: 1 / 5;
        }

        &__left-panel-wrapper {
            grid-row: 1 / 4;
        }

        &__btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            min-width: 100%;
            min-height: 70px;
            padding: 20px 40px;

            font-size: 24px;
        }

        &__step {

            &-info {
                max-width: unset;
                font-size: 20px;
                line-height: normal;
            }

            &-title {
                font-size: 24px;
                margin-bottom: 12px;
            }

            &::before {
                width: 94px;
                height: 94px;

                margin-right: 46px;

                background-size: contain;

                font-size: 47px;
            }
        }
    }
}