.stylist-consultation-form {

    &__title {
        margin-left: 98px;

        text-transform: capitalize;
    }

    &__text {
        margin-top: 13px;

        text-align: center;
    }

    &__inputs-wrapper {
        margin-top: 41px;
        margin-bottom: 15px;
    }

    &::before {
        content: "";

        position: absolute;
        top: -4rem;
        left: -1rem;

        width: 160px;
        height: 155px;

        background: center / contain url("../image/ice-bear.png") no-repeat;
    }
}